[2017-10-05 17:31] mherrmann commented on #229
Thanks

[2017-10-06 04:52] mherrmann commented on #97
Another user just encountered this issue when pressing `F1` to see the list of keyboard shortcuts.

[2017-10-06 13:35] raguay commented on #97
This was a big problem for me on my MacBook Air 11", but my new 13" doesn't encounter it as much.

[2017-10-06 16:52] raguay opened #231 "Executable Files in Plugins: Permissions are wrong"
If you have an executable file inside of a plugin, it ends up with the execute permissions being off. Therefore, the program isn't executable. I assume this is due to how fman downloads it.

[2017-10-19 17:52] ndcooke opened #232 "Editor opening file in UNC path fails"
If you set an editor (in this case Notepad2-Mod) and open a text file located on a UNC path ("\\server\share\file") it opens the editor but it does not open the file inside the editor.

[2017-10-20 07:19] mherrmann commented on #232
Thank you for reporting this. I'll take a look once after I'm finished with the new release I'm preparing at the moment.

[2017-10-21 17:27] danmou commented on #36
For me, the biggest benefit of having an editable path bar would be that I could easily copy a specific part, or all, of the current path. This is not possible with the GoTo menu.

[2017-10-21 18:30] danmou commented on #9
This problem also occurs with a Danish keyboard on Ubuntu 16.04.

[2017-10-23 14:47] raguay commented on #36
You can copy part of the path in the GoTo menu. Highlight the entry you are looking for, press tab, and the top bar will be filled in with the complete path. Then copy the part of it you need. I do this all the time.

Instead of making the path at the top of each panel editable, it might be better to have it open the GoTo menu with the current directory in the search area when clicked. That will k

[2017-10-23 17:37] danmou commented on #36
Thanks @raguay, I hadn't thought about doing it like that. With this in mind I don't see much benefit of an editable path bar, other than maybe that it seems more intuitive to people who are used to traditional file managers. And even then, I think opening the GoTo menu would be just as good.

[2017-10-27 16:24] JaCoB1123 commented on #219
If I can provide any further info or maybe test a dev build, I'll happily do so. This is the only issue holding me back from buying fman.

[2017-10-28 08:27] mherrmann commented on #219
I'll do my best to get to this soon. Right now I'm deep in the trenches implementing a new file system backend for fman that will make it possible to implement ZIP file support, (S)FTP and many more.

[2017-10-28 08:32] mherrmann commented on #36
Sorry for chiming in so late. I'm working hard on a new file system implementation to support ZIP files etc.

If opening GoTo as disscussed will let you do what you want @Danmou then I think I'll implement it like that. Also because there have been no other suggestions here that would require really making the path bar editable.

[2017-10-31 14:21] rogenaro opened #233 "Fuzzy search/filter on the main panes"
Let's say you have a directory with the files:
[code]
Right now, when I type `f`, `file.txt` would be selected.

My request would be to have a key, akin to `/` in Altap Salamander.
When this key is pressed, anything typed thereafter would be used to focus the first match (using fuzzy search) and allow only the files matching the query to be navigated with the arrow keys.

So, if we type `fi` in th

[2017-10-31 14:27] mherrmann commented on #233
Thank you for the suggestion. What would you think if it were implemented without requiring you to press `/`? Because that's exactly what the existing issue #41 captures.

[2017-10-31 16:50] rogenaro commented on #233
Sounds pretty much what I had in mind!
Could I suggest on top of issue #41 to have a way (a setting or hotkey) to toggle between exact and fuzzy matching (or regex)?
It would be a nice way to filter and select multiple files to do some other operations (move/copy/delete/open/etc).
Thank you!

[2017-11-01 10:15] mherrmann commented on #233
Cool. I'll close this issue and continue the discussion in #41.

[2017-11-01 10:15] #233 closed, assigned to nobody

[2017-11-01 10:15] mherrmann commented on #41
@rogenaro, you asked for a way (setting/hotkey) to toggle between exact and fuzzy matching (/regex). What exactly do you mean by "exact" and "fuzzy" matching?

[2017-11-01 12:07] rogenaro commented on #41
@mherrmann by fuzzy, I meant that we could type `nn` to match both ba**n**a**n**a.txt and ba**n**a**n**ajuice.txt, skipping characters in the filename as long as they exist in the same order typed in our query.

I misused the term "exact", I actually meant subsequent.
In some cases, it would be useful to match only the filenames without skipping, so we would have to type `nan` to match the same fi

[2017-11-02 06:00] mherrmann commented on #41
@rogenaro I see, thanks for the clarification :-)

[2017-11-03 15:58] Greyvend commented on #46
Any updates on the progress feedback? I'd say it's the only minimally required file manager feature that fman currently lacks.

[2017-11-03 16:15] mherrmann commented on #46
@Greyvend I'm currently working on a new file system backend that will make it possible to implement / fix #2, #30, #31, #32, #37 and many others. I agree with you that progress feedback is likely the most important "basic" feature that's still missing. I will implement it once I'm finished with the new file system backend.

[2017-11-03 17:40] Greyvend commented on #46
@mherrmann any idea when it could be finished?

[2017-11-03 18:03] mherrmann commented on #46
@Greyvend can't say precisely. Maybe Jan/Feb?

[2017-11-07 17:49] mherrmann opened #234 "First click on "Sort by Name" has no effect"
Start fman and click on the "Name" column. You would expect the files to be ordered alphabetically, in descending order. But nothing happens. You need to click the "Name" column again to achieve the expected outcome.

This only happens the very first time after fman is started. It also does not happen when you have clicked on another column before.

[2017-11-07 23:40] rkhwaja commented on #143
I would like to see the windows registry supported in this way. The keys, at least, behave like a filesystem. The set of values in a key might be more like files.

[2017-11-08 08:38] mherrmann commented on #143
That will be possible! The new API will make it easy to [write a plugin](https://fman.io/docs/plugins-introduction) which displays your registry and lets you edit it.

[2017-11-09 20:36] raguay commented on #143
I want to do one that shows processes and then allows for killing. Commander One has that and it's very useful.

[2017-11-14 12:33] MartyBeGood opened #235 "Tutorial on every launch"
On one of my Win10 machines, fman launches the tutorial everytime I open fman.

Is there any way to disable the tutorial/set a config entry to keep this from popping up again?

[2017-11-14 12:58] MartyBeGood commented on #235
I figured out the cause of this: Instead of creating a folder called 'Local' with a file called 'Settings.json' in it, a file called 'Local' (no extension) was created with the contents of 'Settings.json'.
Deleting the faulty 'Local' file and copying this over from another fman installation (or in fact, another user profile with admin privileges) fixes the problem.

[2017-11-14 13:04] mherrmann commented on #235
Interesting. I have no idea why `Local` was created as a file. I'm closing this issue because I hope it was just a one-time thing.

[2017-11-14 13:04] #235 closed, assigned to nobody

[2017-11-17 16:11] karstengresch opened #236 "install plugins doesn't work anymore"
**fman version**: 0.6.9
**OS**: macOS 10.13.1 (High Sierra)
Default **Python**: 3.6.0 (miniconda)

Command entered in fman: `Install plugin`

**Result**: Modal dialog:

[code]

**Expected result**: List with plugins to install

[2017-11-18 19:01] averrin opened #237 "Fman doesnt start"
Fman doesnt start without any prompt.
My system: Arch, **Wayland**, Sway

[2017-11-19 06:48] mherrmann commented on #237
Thank you for reporting this. What do you see when you run `/opt/fman/fman` from the command line?

[2017-11-19 08:49] averrin commented on #237
[code]

[2017-11-19 13:17] mherrmann commented on #72
Fixed. Will be released as part of upcoming version 0.7.0.

[2017-11-20 11:51] mannp commented on #237
Getting the exact same error here.

Arch on QubesOS with build from pacaur.

Its been running fine, so not sure if the error occurred with the latest update, if it was done in the last couple of days.

[2017-11-20 14:35] synteny opened #238 "Corrupted "Visited Paths.json" on Windows"
At some point in the past, fman logged an invalid entry in the "Visited Paths.json". From then on, it displays the following error message on every directory change:
[code]

Here's the problematic line:
[code]

The trailing '\\' causes the issue. Shouldn't the paths logged in this file be filtered for such issues beforehand?
[Visited Paths (Windows).json.zip](https://github.com/fman-users/fman/fil

[2017-11-21 06:49] mherrmann commented on #238
Sorry for the trouble and thank you for the detailed bug report. I'll check it out after finishing the current release of fman.

[2017-11-21 06:50] mherrmann commented on #236
Thank you for the bug. My suspicion it's to do with High Sierra. I will check once I've released the new version of fman I'm currently working on.

[2017-11-21 08:29] synteny commented on #238
Removing the '\\' doesn't resolve the issue, despite what I wrote above. Please check the whole file attached when investigating. This is fman 0.6.9, naturally

[2017-11-21 08:31] mherrmann commented on #238
Will do, thanks. As a workaround you can delete `Visited Paths.json`. It is important that you do this when fman is not running, because the file gets overwritten every time fman closes.

[2017-11-25 00:41] Majora320 commented on #148
...why not give the source code to paying customers? Github has private orginizations, which you can have your payment widget auto-invite people to, or you could just provide a tarball of whatever release the user pays for.

[2017-11-25 11:05] mherrmann commented on #148
@Majora320 So how would I prevent people from putting the source code online publicly, and using it to break fman's copy protection?

[2017-11-25 21:22] Majora320 commented on #148
Correct me if I'm wrong (I don't own a copy of fman because I prefer using the terminal as my "file manager" -- [z](https://github.com/rupa/z/) is a command-line version of fman's Ctrl+P), but is there anything stopping people from doing this already with the binary? fman looks at first glance to be available via normal download, and there doesn't seem to be any drm in place. Also, I doubt there w

[2017-11-26 05:56] mherrmann commented on #148
How would a DMCA notice prevent someone from sharing the sources via torrent?

[2017-11-26 06:38] Majora320 commented on #148
It wouldn't.

But you're not addressing my other points. The problem with providing source code would be that you're relying on the honor system, trusting your users not to distribute the source. But if I'm correct, you're *already doing this* by providing direct no drm binary downloads of the program. I highly doubt that you're losing revenue from doing this (if anything, you're losing revenue by

[2017-11-26 07:45] macosxguru commented on #148
Every few months there is someone who asserts, "Why don't you make fman open source?"

The easy answer to this question is, "**fman is commercial software. We have no plans or intentions of making it open source**."

Michael, the developer, invariably doesn't answer the question with my suggested answer, he undertakes a debate. A debate which he is never going to win. There are people in the world

[2017-11-26 07:54] Majora320 commented on #148
@macosxguru
Oh, please. I am *not* advocating for fman to become open source, nor am I trying to push a "religion" or the GPL. Your comment is intentionally dismissive and tries to create a straw man of me as a FSF evangelizer, which I am not.

"Open source", as a concept, implies "open development", "free as in beer", and "freedom to distribute". I am advocating none of these things. I am simply

[2017-11-26 07:59] Majora320 commented on #148
(On a side note, it might be a good idea to reopen this issue while it's sustaining ongoing discussion.)

[2017-11-26 09:14] mherrmann commented on #148
Thank you very much for chiming in @macosxguru. You're right in everything you say.

@Majora320 there has been plenty of debate on whether to make fman open source. From fman's beginnings, I've approached the question very openly. But I've never found a solution that would not threaten, or even support fman's mission of creating the most awesome file manager in existence. None of the points you ra

[2017-11-28 09:02] mherrmann opened #239 "Problem moving nested folder to Recycle Bin"
Create a nested directory `temp\sub`. Open the parent of `temp` in the left pane, `temp\sub` in the right pane. Try to delete `temp` in the left pane. Get an error:

    Command 'MoveToTrash' raised error.

    Traceback (most recent call last):
      File "fman\impl\plugins\plugin.py", line 270, in _run_in_thread
      File "C:\Users\Michael\dev\fman\target\fman\Versions\0.7.0\Plugins\Core\core\c

[2017-11-29 16:38] mherrmann opened #240 "Support password-protected Zip files"

[2017-11-29 16:39] mherrmann commented on #37
Implemented in version 0.7.0, for now without password support. I have created a separate issue for this task (#240).

[2017-11-29 16:39] #37 closed

[2017-11-29 16:39] #72 closed

[2017-11-29 16:40] mherrmann commented on #2
Fixed in version 0.7.0.

[2017-11-29 16:40] #2 closed

[2017-11-30 10:42] mherrmann opened #241 "SentinelOne thinks fman is a virus"

[2017-11-30 11:09] mherrmann opened #242 "Rightmost column (Modified) obscured by vertical scroll bar"
fman 0.7.0 automatically resizes columns as you enter directories or as you resize the window. This does not take into account the vertical scroll bar. If there are only few files and no vertical scrollbar, the column contents are visible. But if there are more files and the vertical scrollbar appears, the end of the Modified column is cut off by the scrollbar.

[2017-11-30 11:16] mherrmann opened #243 "Expanding column by double clicking hides other columns"
fman 0.7.0 removed the horizontal scrollbar (because it thought it could "cleverly resize" columns).

1. Create a file with a very long name (eg. 200 chars)
2. Double-click the divider between the Name and the Size column

If fman's window is narrow enough, the Name column is expanded so far that the Size and Modified columns disappear entirely.

[2017-11-30 12:01] mherrmann opened #244 "Improve speed of browsing Zip files"
Right now, files in an archive appear "slowly", one by one. Make this faster.

[2017-11-30 12:04] mherrmann opened #245 "Select only file name in Pack dialog"
The Pack dialog lets you choose the path of the Zip archive you're about to create. When it launches, the entire path is selected. It would be better if only the file name were selected, as that is usually what the user wants to edit. Related to #70.

[2017-11-30 12:18] mherrmann opened #246 "Add a visual separator between column headers"
Makes it easier to find the point for dragging columns

[2017-11-30 13:03] AddRef opened #247 "File are listed in format: file://<path_to_file> which breaks all plugins"
Functions pane.get_selected_files() and get_chosen_files() return list of files in the following format:
file://C:/a.txt
file://C:/b.txt

Plugins are not expecting 'file://' prefix and therefore fail to work.

[2017-11-30 13:09] mherrmann commented on #247
Yes, unfortunately there were some breaking changes in fman 0.7.0. Please see [yesterday's blog post](https://fman.io/blog/zip-support-in-fman/).

To fix your plugins:

There is a new module - `fman.url` - that lets you turn `file://D:/temp/test.php` into `D:\temp\test.php`:

    from fman.url import as_human_readable
    as_human_readable('file://D:/temp/test.php')

To turn `D:\temp\test.php` ->

[2017-11-30 13:11] mherrmann commented on #247
And - sorry for the inconvenience :/ I know it's a hassle but it really was necessary to prepare fman for the new (powerful) file system API.

[2017-11-30 13:13] AddRef commented on #247
Thanks a lot for a response!

2017-11-30 16:09 GMT+03:00 Michael Herrmann <notifications@github.com>:

--
Regards, Volkov Stanislav.

[2017-11-30 13:14] mherrmann commented on #247
Of course! If you encounter further issues or need further clarification, just let me know.

[2017-11-30 13:43] mherrmann commented on #53
Implemented and released as part of version 0.7.1 ([changelog](https://fman.io/changelog#v0.7.1)).

[2017-11-30 13:43] #53 closed

[2017-11-30 14:20] mherrmann commented on #237
Do you also get the error with the latest release, 0.7.1? I just tested it on an up-to-date Arch KDE installation and it works fine.

[2017-11-30 14:21] mherrmann commented on #237
(The latest release came out today.)

[2017-11-30 14:23] mannp commented on #237
Works for me @mherrmann , thanks for the update 👍

[2017-11-30 14:26] mherrmann commented on #237
Glad to hear it! Does it work for you too @averrin?

[2017-11-30 14:34] mannp commented on #237
Oddly Cmd Shift P doesn't do anything for me now .... ?? Not sure what is happening yet.

[2017-11-30 14:38] mherrmann commented on #237
Hm, don't know why. It works for me (as before, on KDE).

[2017-11-30 14:38] mherrmann opened #248 "Pack fails on Arch"
![image](https://user-images.githubusercontent.com/1076393/33436136-7f0a6c52-d5e4-11e7-8139-a5290ed1fcba.png)

[2017-11-30 18:09] kek91 commented on #243
Isn't this the expected behavior? If I double click on the Name column, I want to extend that column to fit, no matter what. So if my window is so narrow it can't fit them all then the most logic thing to do is to push Size and Modified columns away (out of the visible area anyway). If I drag the window back to a "normal" size they reappear so it's not like they're gone permanently.

I have to mak

[2017-11-30 18:46] mherrmann commented on #243
@kek91 it's a sensible question. The thing is that fman 0.7.0 no longer shows horizontal scroll bars if the content is too long. So in that case, the columns to the right simply "disappear" and the only way to get them back is to resize the window or open another directory.

[2017-11-30 20:48] raguay opened #249 "[Bug] fman 0.7.1: Deleting file/dir while finder is not running error"
If you have the finder program disabled (completely closed and not running) and delete a file or directory, fman shows that file or directory deleted, but the file or directory is really still there. The issue is that fman uses Finder to delete the file or directory, but can't when it isn't running. But, fman is still removing it from it's internal data structure for showing the files and director

[2017-11-30 20:56] kszcode commented on #242
Thank you, this feature is great!

[2017-12-01 00:40] Taconvino commented on #43
All I need is "extract here" for compressed files and "open with" for anything else.

[2017-12-01 07:26] mherrmann commented on #242
@kszcode you mean the feature that automatically resizes columns? Because here we're talking about a bug and I'm confused why you would say a bug is great ;-)

[2017-12-01 07:28] mherrmann commented on #43
@Taconvino it would already be possible to add an "extract here" command. It would just be accessible via the [Command Palette](https://fman.io/docs/shortcuts), not (yet) in a context menu. Would that be of interest to you?

[2017-12-01 07:55] mherrmann commented on #249
You're right it's not how it should be. The reasons why are rather technical. Unfortunately, it's not so easy to change. But I believe I have a way out.

The best solution imho would be to update the [FlexibleTrash](https://github.com/raguay/FlexibleTrash) plugin. It could check if Finder is running, as it already does. Then, it could run either command `MoveToTrash` or `DeletePermanently`:

    i

[2017-12-01 13:45] Taconvino commented on #43
@mherrmann Oh yes, it would be!  I wouldn't miss pressing the right-click key and just use the command palette for tasks like that, like most things fman.  Is it possible to implement the "open with" command that way too?  I mean, I don't need it to be populated automatically.  I could choose the applications I want to be able to select in that command, like part of a configuration.  Hell, that ac

[2017-12-01 14:57] raguay commented on #249
I've already done that. The FlexibleTrash plugin is working fine with the new version now. The only problem is if someone installs it, the two programs in it are not executable. After installing the plugin, you have to manually fix the execution bits to use the plugin. I need to see how to do that in Python.

[2017-12-01 14:57] raguay commented on #249
I mostly added this here so that you would know about the issue. It's not a problem with me personally because of my FlexibleTrash work around.

[2017-12-01 15:32] rasmuse opened #250 "Unzipping files does not work on Linux (invalid cross-device link)"
# How to reproduce

I'm on Ubuntu 16.04 and trying out the new zip capability. Browsing zip files works fine but unpacking contents does not.

[code]

Now I can open fman and browse `my-zip-file.zip`. Trying to unpack `contents` by putting the cursor on it and pushing F5 to copy to the same dir (`/home/rasmus` in this case), I get the following error:

[code]

# Possible explanation and solution

[2017-12-01 16:53] kszcode commented on #242
You are right, I'm sorry, I just noticed the feature, which I think it's great.
As far as the bug goes, I don't really see it as a problem, because I would assume that people will usually have enough resolution to display most of the file length.
Also right now when I double click the separator, the file size and date columns get shifted.

[2017-12-01 17:05] mherrmann commented on #242
I see. Thanks for clarifying!

[2017-12-01 17:07] mherrmann commented on #250
Thank you very much. Your detailed explanation was spot-on and let me fix the bug. I'm just releasing version 0.7.2, which should no longer exhibit it.

And you're totally right. I think users should only be allowed to use systems that are exactly identical to my test systems ;-P

Cheers!

[2017-12-01 17:07] #250 closed, assigned to nobody

[2017-12-01 17:08] mherrmann commented on #248
Fixed in version 0.7.2.

[2017-12-01 17:08] #248 closed, assigned to nobody

[2017-12-01 17:12] mherrmann commented on #238
I think I was able to find and fix the cause of the problem in version 0.7.2, which I just released. Unfortunately, it only prevents `Visited Paths.json` from becoming corrupted again. It is not able to repair the already corrupted files.

To be more precise, I believe the problem was caused by the file being concurrently written to by two instances of fman. The first would write `{"some/long path

[2017-12-01 17:12] #238 closed, assigned to nobody

[2017-12-01 17:17] mherrmann commented on #249
I see, okay thanks. In that case I'll close the issue, as I'm now aware of it and don't see much I can do at the moment with reasonable effort.

P.S.: I don't know if you've seen yet but #247 gives hints as to how to migrate existing plugins with the new API. I guess I should have written these instructions sooner / more publicly. Hope they might help now.

[2017-12-01 17:19] mherrmann commented on #43
@Taconvino interesting. I wonder how many other people voted for this issue not so much for being able to right-click, but for the functionality associated with the context menu. I will ask this in a separate reply.

[2017-12-01 17:27] mherrmann commented on #43
To people who voted for context menu support in fman: Did you do it because you require a particular feature normally present in that menu, such as `Open with...`? Or did you vote because you truly want to be able to use the right mouse button? Would love to hear your reply @joshas, @albertouri, @nblackburn, @andylima, @hahn-kev, @strangeman, @mousseng, @lsferreira42, @kalons7, @vovcacik, @nozzleg

[2017-12-01 17:29] nblackburn commented on #43
@mherrmann For me, i genuinely think it would make for a good addition.

[2017-12-01 17:36] mannp commented on #43
@mherrmann I also think it would be a great addition and am particularly wanting gpg encrypt and decrypt actions, as well as compression and decompress actions.

Currently use Thunar and am hoping fman becomes my full time replacement :)

[2017-12-01 17:37] itazitdinov commented on #43
@mherrmann i'm interested in your idea of "basic" implementation(os native fm) as i have a lot of custom actions there. "one commander" got it right in my opinion

[2017-12-01 17:39] mherrmann commented on #43
@mannp thx for the reply. So that means it is important to you that you be able to execute those commands with the mouse, correct? Performing the actions with the [Command Palette](https://fman.io/docs/shortcuts) or a keyboard shortcut would be less ideal for you right?

@rhos okay, thanks!

[2017-12-01 17:45] mannp commented on #43
@mherrmann I don't want to highjack your design goal as its clear that fman is very keyboard orientated, which is cool.

I use mc in the terminal and when I come out of the terminal I prefer things in the gui.

[2017-12-01 17:46] mherrmann commented on #43
@mannp That's fair! Noted. Thanks.

[2017-12-01 17:53] kalons7 commented on #43
I never use the mouse, but the context menu is also available via the VK_MENU key (on Windows).  And make sure to show at the selection rather than the mouse cursor position in this case.

[2017-12-01 17:55] ababak commented on #43
I vote for command palette or both if mouse operations are really important for a lot of people

[2017-12-01 17:58] joshas commented on #43
From Windows perspective Total Commander has context menu figured out: it displays default Explorer context menu with some TC commands mixed in (open directory, rename, view, pack). That way you won't need to re-implement all default Explorer options, but it might be a challenge to get them working (shell32 and python).

[2017-12-01 18:08] raguay commented on #249
Yes, I saw #247 and copied the information. I'm working on updating all of my plugins. So far, DeSelect, DuplicateFileDir, favorites, FlexibleTrash, and VimNavigation are working on the new version. Those are my most used plugins for me!

[2017-12-01 18:11] mherrmann commented on #249
Okay! Sorry for the trouble. I think it really was necessary to make the API changes but I should have given more notice. I just wanted to finally get the new version out the door after two months without a new release.

[2017-12-01 18:33] ghost commented on #43
For me the essential is the standard OS context menu... because it brings me (on macOS):
- Open With
- Dropbox commands
- Standard "Share" Menu
- Standard "Services" menu with BetterZip commands, etc.

[2017-12-01 18:51] raguay commented on #249
I'm updating my MoveToDir plugin and this same issue is showing it's ugly head. For instance, if I move a file up one directory using this plugin and specifying the `..` directory, it moves the file just fine. But, fman will not show it until I manually run the `Refresh` command from the Command Pilate.

[2017-12-01 21:59] raguay opened #251 "[Bug] fman 0.7.1: Not able to create/view zip files on macOS"
I updated all of my plugins for 0.7.*. I just now needed to view what was inside of a zip file. I pressed enter on a zip file created with WinZip and fman showed the path in the directory window with the "zip://" prefix, but the file pane showed nothing. I created a zip with the command line zip program and it wasn't view-able either.

I tried to create a zip file with the "pack" command and this

[2017-12-02 10:35] mherrmann commented on #237
Closing this issue now as the problem with fman not starting on Arch seems to be resolved.

[2017-12-02 10:35] #237 closed, assigned to nobody

[2017-12-02 10:43] mherrmann commented on #212
As of version 0.7.0, fman's API functions return URLs instead of paths. Eg. `file://C:/swapfile.sys` instead of  the previous `C:/swapfile.sys`. There is now a new function, `as_human_readable` that lets you obtain the path - with backslashes on Windows - from the URL:

    from fman.url import as_human_readable
    as_human_readable('file://C:/swapfile.sys') # returns C:\swapfile.sys

Note that `

[2017-12-02 10:43] #212 closed, assigned to nobody

[2017-12-03 15:44] vovcacik commented on #43
Native context menu would be better because I might have installed software and/or shell extensions that I want to access. For example 7z, hash functions, Open with..., mounting ISO natively, mounting VHDX natively etc.

[2017-12-04 09:19] danmou opened #252 "Option to mix files and folders when ordering"
Sometimes it would be nice if the folders were not shown at the top, but instead mixed in with the files according to whatever ordering is active.

[2017-12-04 09:29] mherrmann commented on #252
Thank you for the suggestion. It will soon be possible to implement your own columns via Plugins. Columns can then define themselves what their respective sort order is. The current `Name` column sorts by name (duh) but directories before files. Once it's possible to define your own columns, you can define (say) `Name2` that shows the same contents as `Name`, but implements a different sort order

[2017-12-04 09:38] danmou commented on #252
Awesome!

[2017-12-04 10:17] mherrmann commented on #251
Hm. What do you get when you run

    /Applications/fman.app/Contents/Resources/Plugins/Core/bin/mac/7za a synergy.zip

in an empty directory?

[2017-12-04 10:18] mherrmann commented on #251
(Regarding fman not updating, I know it's currently a pain, I'm sorry. You may have to leave fman running for a few minutes before restarting so it has enough time to download the entire update.)

[2017-12-04 10:37] mherrmann commented on #251
Another user who is experiencing this bug is getting

    $ Applications/fman.app/Contents/Resources/Plugins/Core/bin/mac/7za l /path/to/some.zip
    /Applications/fman.app/Contents/Resources/Plugins/Core/bin/mac/7za: line 2: /usr/local/Cellar/p7zip/16.02/lib/p7zip/7za: No such file or directory

[2017-12-04 14:36] mherrmann commented on #249
fman keeps a cache of files for better performance. The behaviour you are describing @raguay is a (buggy) result of this. I just released fman 0.7.3 that (among [other things](https://fman.io/changelog#v0.7.3)) displays the files from the cache, but also reloads them when you enter a directory again. I tested `MoveToDir` with `..` and it seems to fix the problem.

Another solution to the caching i

[2017-12-04 14:37] mherrmann commented on #249
I will close this issue in the meantime. Feel free to reopen it again @raguay if you feel something has not yet been resolved.

[2017-12-04 14:37] #249 closed, assigned to nobody

[2017-12-04 14:48] mherrmann commented on #236
I'm afraid I cannot reproduce this bug. However, I did recently see a similar error after installing a lot of plugins in a short amount of time. The reason was that GitHub API is rate-limited and starts returning `40x` errors at some point. Trying again after some time then works.

Does the problem still appear for you now @karstengresch?

[2017-12-04 15:30] mherrmann commented on #231
Fixed. Will be released with version 0.7.4.

[2017-12-04 16:50] raguay commented on #249
I'm also seeing this issue when I add/delete files from a script (I'm working on a plugin for script execution, along with npm scripts). The directory doesn't get updated with the changes. You could set a process to watch for changes from the OS and update with it. Similar to watchman. Read this article to see how to do it cross-platform wise:  https://stackoverflow.com/questions/5738442/detect-fi

[2017-12-04 16:57] raguay commented on #251
That is what I get. Are you using Homebrew to install 7za program? I can do it manually, but it doesn't help others. I already have homebrew on my system. If you are trying to install it in fman, the conflict might be stopping the process. Does that other person also have homebrew already installed?

[2017-12-04 17:02] raguay commented on #251
The updating issue is that fman is running all the time. I only close it when shutting down each night. When I see you have an update on twitter, I restart fman hoping to get it. But it doesn't until there are two updates.

I just installed the 7zip on homebrew and the pack command and viewing that zip file works. But viewing another zip file done with the system "zip" command still doesn't show a

[2017-12-04 17:05] raguay commented on #251
I restated fman and it's able to view the zip file created with the system zip command. I guess fman had the original peek into it cached that didn't show anything. But, if I manually add a file to the zip file, the fman view isn't updated.

[2017-12-04 17:07] raguay commented on #252
Or, make a switch in the user variables for having folders first or not. Most filemanagers work that way. I prefer folders on top always myself.

[2017-12-04 18:04] joshas commented on #251
Probably related issue: on macOS opening zip archive displays empty pane, no files. Tested on fman 0.7.3, OS X El Capitan (10.11).

[2017-12-04 18:15] joshas opened #253 "Add option to have fixed width pane columns"
After a full work day with fman 0.7.2 I would like to ask to add an option for fixed columns. It is a bit disorienting when after changing directories columns shift, caused by Name column resizing due to different contents. Entering empty directory causes Name column to fill almost all space and leave only Size column visible, Modified column is hidden.
I think this option might improve performanc

[2017-12-04 18:18] joshas opened #254 "Pane cursor position after returning to parent directory"
A minor "papercut" issue, but it became visible after 0.7.x update. After returning to parent directory cursor is displayed on top position for a few moments, then it is moved to correct directory. Cursor should show up in correct position right away after changing directory.

[2017-12-05 06:46] mherrmann commented on #252
I think most people prefer folders always on top. So a custom column via a plugin is better I think.

[2017-12-05 06:51] tstechly opened #255 "fman doesn't start on linux/mint"
The app doesn't start at all. No message. Starting from command line doesn't provide any info either.

fman 0.7.3
linux mint 17.2

[2017-12-05 06:57] mherrmann commented on #253
I see, sorry for the bad experience. Is the fman window usually wide enough to display all column contents? The goal for the implementation is not to keep shifting columns all the time, only when a column is currently obscured and there is enough empty space for it to expand.

That the Modified column disappears when entering an empty directory is a bug. I'll look into it.

Moving the scrollbar be

[2017-12-05 06:58] mherrmann commented on #251
@joshas do you get an error when you use the `Pack` command to create an archive?

[2017-12-05 06:59] mherrmann commented on #255
I think I broke fman on Ubuntu < 16.04. I will release a new version today that should hopefully fix this issue.

[2017-12-05 07:31] mherrmann commented on #254
Fixed. Will go live with 0.7.4.

[2017-12-05 08:43] mherrmann commented on #255
I just released version 0.7.4 that should hopefully fix this issue. You can obtain the new version via `sudo update-fman`.

[2017-12-05 08:43] #255 closed, assigned to nobody

[2017-12-05 08:43] mherrmann commented on #254
Fixed in 0.7.4.

[2017-12-05 08:43] #254 closed, assigned to nobody

[2017-12-05 08:44] mherrmann commented on #251
I just released version 0.7.4 of fman with an attempt to fix this problem. Can all of you who have been experiencing the issue update (start fman, leave running for a few minutes, then restart it) and let me know if it is resolved?

[2017-12-05 08:45] mherrmann commented on #242
Fixed in version 0.7.3.

[2017-12-05 08:45] #242 closed, assigned to nobody

[2017-12-05 08:45] #231 closed, assigned to nobody

[2017-12-05 11:43] mherrmann opened #256 "Move DirectoryPaneCommand#get_chosen_files(...) to DirectoryPane"

[2017-12-05 13:28] danmou commented on #252
It doesn't really matter to me whether it's an option or a plugin. As long as the plugin API makes sense, it should be trivial to make a plugin. One thing that would be nice though, would be the possibility to have different options for each folder, as suggested in #134. So if you go with the plugin solution, please keep in mind that when #134 is implemented, it should be possible to not only reme

[2017-12-05 13:33] raguay opened #257 "[Bug] Error while installing plugin."
A user of my plugin, favorites, encountered this issue:

Command 'InstallPlugin' raised error.

Traceback (most recent call last):
  File "fman/impl/plugins/plugin.py", line 270, in _run_in_thread
  File "/Applications/fman.app/Contents/Resources/Plugins/Core/core/commands.py", line 1165, in __call__
    dest_dir = self._install_plugin(repo.name, zipball_contents)
  File "/Applications/fman.app/Co

[2017-12-05 13:38] mherrmann commented on #257
The same user also reported the same error for one of my plugins ([here](https://github.com/mherrmann/ArrowNavigation/issues/2)). Let's continue the discussion here please @NvL-WEAP, as the error you encountered applies to fman as a whole, not just specific plugins.

[2017-12-05 13:46] raguay commented on #251
It seems to work for me. I'll keep testing it.

[2017-12-05 17:09] mherrmann opened #258 "Replace DirectoryPaneListener#on_name_edited by a `callback` param in DirectoryPane#edit_name(...)"

[2017-12-05 21:28] kszcode opened #259 "Calling fman from spotlight/alfred does not bring it to front"
FMAN does not come to the front end when selecting it from spotlight, if fman is already open.

If FMAN is not yet open then it will start on on the foreground.

As far as I can tell this is happening since the version with the zip file 0.7.0.

[2017-12-06 07:27] mherrmann commented on #259
You're right! This used to be a bug in old fman versions (#5). I have no idea why it has come back. I will check it out.

[2017-12-06 09:49] mherrmann opened #260 "Make show_prompt(...) return a single value"
Currently, it returns a tuple `text, ok`. When the user cancelled, `'', False` is returned. The aim of this issue is to return a single value instead. If the user presses OK in the dialog, whatever text was entered is returned as a string (possibly empty). If the user presses Cancel, `None` should be returned.

[2017-12-06 13:23] sgarbaciak commented on #43
I also voted for native context. It should be more flexible.

[2017-12-06 13:52] danmou commented on #43
I don't think there is a native context menu on Linux -- usually it varies depending on the file manager, so they probably each have their own implementation. Anyway these kinds of menus tend to get cluttered with functions you don't need. For me, the best solution would be a customizable context menu that simply shows a list of commands that I can change in the settings (where some items could be

[2017-12-06 13:56] Taconvino commented on #43
I'm not sure how it is on Mac or Linux, but ultimately every context menu option should lead to a shell command with a file path as a parameter (I might be dead wrong here).  At least for me, an alternative for Windows Explorer should include a configurable context menu without resorting to registry hacking.  Command Palette is perfect for this, and should be way easier to configure and extend if

[2017-12-06 15:21] raguay commented on #259
Not sure if it is related to this or not, but uBar 4 on the Mac is showing two icons for fman since the 0.7.* release: one responsive to clicking and the other is non-responsive. Therefore, there must be two processes running where one isn't suppose to have graphics. But, when you try to bring it forward by that non-responsive process, it doesn't do anything. Using top, there are two fman processe

[2017-12-06 16:10] vietzd commented on #43
I voted for 'context menu' mostly because I'm missing the features `open with...` and `extract to`.
It would be nice to have a configurable context menu. It's not crucial to open it on rightclick but it would be intuitive.

[2017-12-06 17:19] joshas commented on #251
Running `/Applications/fman.app/Contents/Resources/Plugins/Core/bin/mac/7za` I'm getting the same `/usr/local/Cellar/p7zip/16.02/lib/p7zip/7za: No such file or directory` error. I suppose installing 7z using homebrew should fix it, but what about users not using homebrew?
Packing still gives an error on 0.7.4 .

[2017-12-06 21:03] kszcode commented on #251
Here is a workaround:

For now I fixed it like this:
[code]

And then I've updated the file: `/Applications/fman.app/Contents/Resources/Plugins/Core/bin/mac/7za` to contain this:

[code]

[2017-12-06 21:06] kszcode commented on #251
It might work with a test to see if the 7za file is in a couple of predefined locations, and if not then try to find it like this: `$(which 7za)`

It would not be the most elegant solution, but it would be somewhat better.

[2017-12-06 23:38] raguay commented on #251
The problem is you are packing a script and not a binary file for 7za. You can see this by

[code]

[2017-12-07 06:09] mherrmann commented on #259
I think it is related @raguay.

I found and fixed the cause of the problem. Will go live with upcoming release 0.7.5.

[2017-12-07 06:11] mherrmann commented on #251
Oh my god you are right @raguay! Unbelievable.

[2017-12-07 17:21] mherrmann commented on #259
Release 0.7.5 is out and fixes this issue.

[2017-12-07 17:21] #259 closed, assigned to nobody

[2017-12-07 17:25] mherrmann commented on #251
As @raguay pointed out, the problem was caused by fman not including the binary file that's required to get the Zip functionality to work on Mac. Instead, fman only contained a skeleton "source file".

I just released version 0.7.5 that adds the actual binary file. Can you all let me know if the Zip functionality on Mac works for you now?

Thank you again for identifying the root cause @raguay.

[2017-12-08 06:39] mherrmann commented on #249
fman already watches directories, in exactly the manner you described. It doesn't use watchman / watchdog but [QFileSystemWatcher](http://doc.qt.io/qt-5/qfilesystemwatcher.html). Apparently though, this does not always notice all changes. I hope that the fix of release 0.7.3 I described [above](https://github.com/fman-users/fman/issues/249#issuecomment-348979714) already brings some alleviation. A

[2017-12-08 06:51] mherrmann opened #261 "Don't "follow" symbolic links"
A licensed user complained that when he has a hard link from `C:\Source` to `C:\Destination` and opens `C:\Source`, then fman's location bar displays `C:\Destination`. He would prefer it if `C:\Destination` were displayed instead.

This affects other features as well. For instance, the `CopyPathsToClipboard` command would also use `C:\Destination` and not `C:\Source` in the above example.

On Wind

[2017-12-08 09:21] yolpsoftware opened #262 "Synced Browsing"
WinSCP has a very cool feature that I would love to see in fman.

If you enable "synchronized browsing", then any folder navigation you do on the left is repeated on the right, and vice versa. If a folder on the left does not exist on the right, then the user is asked whether they want to create it.

[2017-12-08 10:12] fndari opened #263 "`FileNotFoundError` when installing a third-party plugin for the first time"
I tried to install a third-party plugin for the first time via the `Install Plugin` command, and this error message was shown:

[code]
Creating the directory manually via `mkdir -p ~/.config/fman/Plugins/Third-party` and installing the plugin again solved this issue.

If relevant: fman version is 0.7.5, operating system is Ubuntu 16.04.3.

[2017-12-08 17:59] joshas commented on #251
I can confirm that fman 0.7.5 on macOS can pack and open zip files without issues.

[2017-12-08 19:46] raguay commented on #251
Working for me too!

[2017-12-09 14:23] mherrmann commented on #262
Good suggestion! It turns out this is very easy to implement via fman's plugin API. So I just implemented it: [SynchronizedBrowsing](https://github.com/mherrmann/SynchronizedBrowsing). Please note that if you get a `FileNotFoundError` when installing the plugin, you have to manually create the `Third-party` directory mentioned in the error message. This is a [bug](https://github.com/fman-users/fma

[2017-12-09 14:23] #262 closed, assigned to nobody

[2017-12-09 15:27] mherrmann commented on #263
Sorry for the inconvenience and thank you for reporting the bug. I just released fman 0.7.6 which fixes the issue.

[2017-12-09 15:27] #263 closed, assigned to nobody

[2017-12-09 15:46] mherrmann commented on #251
Ok. Finally closing this issue then. Thanks for letting me know.

[2017-12-09 15:46] #251 closed, assigned to nobody

[2017-12-10 10:01] greenelephant opened #264 "Open with editor doesn't work"
Nothing happens when I use "Open with editor" option from menu. When I create a file editor opens fine and I can save one.

"Open with editor" doesn't work no matter if I use from command palette or shortcuts.

System: Arch Linux
Version 0.7.6-1

[2017-12-10 10:18] mherrmann commented on #264
That's strange. By "when I create a file" you mean `Shift+F4`?

[2017-12-10 10:21] greenelephant commented on #264
Yes, I can use Shift+F4 and it works just fine. File is created and then editor opens.

[2017-12-10 10:24] mherrmann commented on #264
Thanks for clarifying. And it also doesn't work when you then `F4` on the file that was just created?

[2017-12-10 10:29] greenelephant commented on #264
Exactly.

[2017-12-10 10:30] mherrmann commented on #264
Strange. Okay! Thanks. I'll take a look.

[2017-12-10 15:13] mherrmann commented on #247
I finally found time to completely rewrite [fman's API documentation](https://fman.io/docs/api). Previously, it was just a very short list of available functions. Now, it is very comprehensive and gives lots of examples.

Closing this issue now because the new documentation explains all that is needed.

[2017-12-10 15:13] #247 closed, assigned to nobody

[2017-12-10 15:37] mherrmann opened #265 "Make it possible to change the sort column via the API / the keyboard"

[2017-12-11 17:42] CodingBadly opened #266 "Improve support for "Network" shares on Windows"
Nothing happens when CTRL + P and type '\\networkfolder\'

[2017-12-12 07:36] mherrmann commented on #266
At the moment, the only way to get to a network folder is to enter the full path into GoTo. Eg.: `\\machine\folder`. Just `\\machine` unfortunately does not work. It's also not currently possible to get a list of all available network locations.

The goal of this issue is now to improve all of the above things:
- When starting to type `\\` into GoTo, it should suggest available network locations
-

[2017-12-12 16:16] mherrmann commented on #245
Implemented in [fman 0.7.7](https://fman.io/changelog#v0.7.7).

[2017-12-12 16:16] #245 closed, assigned to nobody

[2017-12-12 16:16] mherrmann commented on #70
Implemented in [fman 0.7.7](https://fman.io/changelog#v0.7.7).

[2017-12-12 16:16] #70 closed

[2017-12-12 17:15] kek91 commented on #243
Sorry yeah you're right, didn't think that through. I guess the horizontal scroll bar would be nice in those scenarios

[2017-12-14 11:49] mherrmann commented on #58
Implemented in [version 0.7.8](https://fman.io/changelog#v0.7.8).

[2017-12-14 11:49] #58 closed

[2017-12-14 11:50] mherrmann opened #267 "Treat .tar.gz files like directories"

[2017-12-14 11:51] mherrmann opened #268 "Treat .tar.xz files like directories"

[2017-12-14 11:52] mherrmann commented on #80
Implemented in [version 0.7.8](https://fman.io/changelog#v0.7.8). Please note that this does not yet add support for `.tar.gz` and `.tar.xz` files. There are separate issues for these archive types (#267 and #268, respectively).

[2017-12-14 11:52] #80 closed

[2017-12-14 16:12] mherrmann commented on #6
The second part of the bug ("copy `a.txt` and `b.txt`...") has been fixed since version 0.7.0. The first part will now also be fixed in upcoming version 0.7.9. The implementation reloads both directory panes whenever fman's window gains focus. This happens when you create a file with Shift+F4, then type some text in your text editor, save, and switch back to fman.

[2017-12-14 16:13] mherrmann commented on #244
Implemented in [version 0.7.8](https://fman.io/changelog#v0.7.8).

[2017-12-14 16:13] #244 closed, assigned to nobody

[2017-12-14 16:14] mherrmann commented on #236
Can you still reproduce the problem @karstengresch ?

[2017-12-14 19:02] karstengresch commented on #236
Yes, unfortunately. Exactly the same message. Tested it w/ the latest version last Sunday (10th December). Is there a way providing you w/ some debug info? (Currently in the plane, but could give you more info tomorrow).

[2017-12-16 15:41] ekarious opened #269 "Command "OpenDirectory" raised error"
Hello,

I am trying the software and i am currently using the version 0.7.8
I encountered this error when trying to enter a directory by pressing Enter.

I am on macOS High Sierra.
and I removed all plugins i installed.

![screenshot](https://user-images.githubusercontent.com/400070/34071979-91504b0a-e27f-11e7-9d4e-13ceb7cd16d5.png)

[2017-12-19 05:49] mherrmann commented on #236
Hm, are you using a proxy?

What happens when you open [https://api.github.com/search/repositories?q=topic:fman+topic:plugin&per_page=100&page=1](https://api.github.com/search/repositories?q=topic:fman+topic:plugin&per_page=100&page=1) in the browser?

And what happens when you load the URL in Python?

    from urllib.request import urlopen
    response = urlopen('https://api.github.com/search/rep

[2017-12-19 06:01] mherrmann commented on #269
Hi,

sorry for the trouble. The only way I could explain this is that perhaps some was still loaded. Does the problem still appear now, after you've presumably restarted fman? If yes, does re-installing fman fix the problem?

Thanks,
Michael

[2017-12-19 13:51] raguay commented on #269
I've had this issue some. When I reload plugins by command browser fixes the issue. Somewhere there is a version of OpenDirectory that doesn't have the `url` input.

[2017-12-19 20:40] raguay commented on #269
I've had this issue some. When I reload plugins by command browser fixes the issue. Somewhere there is a version of OpenDirectory that doesn't have the `url` input.

[2017-12-20 08:44] mherrmann commented on #269
I encountered this with the [VimNavigation](https://github.com/raguay/VimNavigation) plugin, before it was ported to the new file system API. Are you still seeing this issue these days @raguay ?

[2017-12-20 16:21] karstengresch commented on #236
Hi Michael,.

no proxy. Must be related to the Python setup.

[code]

Default Python is 2.7 and this doesn't know of urllib.request.

[code]

Just wondering why this worked before.

B.t.w. - completely uninstalled w/ CleanMyMac 3 and then installed 0.78.

Maybe it's just some installation documentation needed if it runs on your macOS?

Best wishes,

Karsten

[2017-12-20 16:52] mherrmann commented on #236
fman ships with is own copy of Python, so is (or should be) independent of your OS's Python installations. The reason you're getting the `No module named request` error is that `python` is Python 2, and `urllib.request` is only available in Python 3 (which fman uses).

Hm....

[2017-12-20 18:22] mherrmann opened #270 "Add an Explorer Replacement mode"
Directory Opus has an [Explorer Replacement mode](https://www.gpsoft.com.au/help/opus11/index.html#!Documents/Explorer_Replacement1.htm). When it is active, then in any situation in which Explorer would normally open, DO opens. The goal of this issue is to implement the same feature in fman. It was requested by a licensed user.

[2017-12-20 19:04] raguay commented on #269
Yes. On first loading/running of fman, it calls a different function for going into a directory that doesn't take the url parameter. If I reload plugins, it works fine. There is a load ordering for first start and manually loading the plugins that changes how things work. It happens every time, so it is very reproducible.

[2017-12-20 22:30] ekarious commented on #269
I do not have the problem anymore. Reinstalling fman fixed it for me.
I'll try to test with installing some plugin later.

Thank you.

PS: I let the issue open if other people still have it.

[2017-12-20 22:44] karstengresch commented on #236
Thanks for your reply!

ACK, as stated in my previous post :)

That's really a weird behavior and I have no clue what could cause this. I've set up pip and venv for my own programming, but that should not break fman at all, especially as I work on 3.6.x

Is there any debug switch I could use for providing you with further information?

[2017-12-21 06:48] mherrmann commented on #269
@raguay so you are seeing the issue every time fman starts?

[2017-12-21 12:50] mherrmann opened #271 "Add an entry to the command palette for switching panes"
A licensed user asked for this. He didn't know the `Tab` shortcut. An entry in the Command Palette such as `Switch panes` would have helped him look this up.

[2017-12-21 13:07] mherrmann commented on #236
There's no debug switch for this feature, but here's what we can do: Follow the instructions on [Writing Plugins](https://fman.io/docs/plugins-introduction) to implement the following command:

    from fman import DirectoryPaneCommand, show_alert, show_status_message
    import requests

    class SayHi(DirectoryPaneCommand):
        def __call__(self):
            messages = []
            for u

[2017-12-21 14:31] raguay commented on #269
Everytime I start fman (ie: not already running) and use the OpenDirectory() command I have tied to `<shift-l>`, it gives this error:
[code]
Then when I run the `reload plugins` command from the command prompt and the error goes away. Completely consistent and reproducible. I've looked through the Core for OpenDirectory() command, but the only one I found has the url parameter.

Now, the definitio

[2017-12-21 20:50] joshas opened #272 "Shorten or remove "bytes" suffix from size column"
While "Size" column is shortest one, some file sizes just doesn't fit there, because of added "bytes" suffix. How about removing "bytes" or shortening to correct single letter abbreviation?

[2017-12-21 21:03] joshas opened #273 "OpenDirectory raises exception when trying to open directory with limited permissions"
On Windows trying to open directory, that belongs to "administrator", e.g. "System Volume Information" - exception is raised. Instead a simple dialog should be displayed with error message "Access is denied". Option to "Open as Administrator" might be useful too.

[2017-12-22 05:55] mherrmann opened #274 "New directory in .zip is displayed as file at first"
When creating a new directory with F7, or copying an existing directory into/inside a .zip file, the new directory is displayed as a file at first. Should be displayed as a folder. Trying to open the new folder even gives "Opening files from zip is not supported". So fman truly believes it's a file, until the current location is refreshed.

[2017-12-22 14:09] Snuggle opened #275 "fman won't start | Address boundary error"
Hey, there! I just freshly installed `fman` and it won't start. I decided to find where the actual binary was, so that I could get any error output. It won't start because of an address boundary error, apparently. Attached is package information etc.

Totally open to any questions, requests for logs, etc. (No clue where I should look)

Any help is appreciated!

![image](https://user-images.githubu

[2017-12-22 14:13] Snuggle commented on #275
![image](https://user-images.githubusercontent.com/26250962/34300903-3fa3e076-e722-11e7-86b7-a0b08fa73b51.png)

Here's the output from running this through gdb.
[code]

[2017-12-22 14:16] mherrmann commented on #275
Hey there,

sorry for the trouble. This is an issue with the current versions of fman & Manjaro. If you install fman 0.6.9, I think it should work. Arch Linux users recently had the problem that fman versions < 0.7.0 did not start for them, so I updated fman with the latest Arch binaries. This unfortunately broke it for the current Manjaro build, which lags behind Arch's by a few weeks. My hope is

[2017-12-24 18:09] Snuggle commented on #275
Okiedokie! I hope it works soon. I'll close this when/if this gets fixed, and if not within about a month or so, I'll ping you. c:

[2017-12-28 08:01] Rush opened #276 "Slow navigation to a directory with ~70k files"
Fman seems way slower than `mc` or `krusader`. When I went to my home dir it took about 3 seconds to open. I have a quad core Core i7 and a fast SSD. My guess is that fman is opening every file in the directory. Scanning the directory should not slow navigation.
[code]

Generally really like the idea of Atom/Sublime like approach to a dual pane file manager. I will observe your project and buy onc

[2017-12-28 08:59] mherrmann commented on #276
You're right this is an issue. At the moment, I am still adding basic features (such as the recent [support for Zip archives](https://fman.io/blog/zip-support-in-fman/)). Once that's done, I will look into performance. From what I know now, the problem with large numbers of files is actually not the reading from disk, but the rendering. I already have an idea of how to fix it; Just haven't gotten

[2017-12-28 09:00] mherrmann commented on #257
Are you still experiencing this issue @NvL-WEAP?

[2017-12-28 09:37] mherrmann commented on #276
(May I add your email address to fman's mailing list @Rush? You can unsubscribe at any time and it lets you stay informed about the project. I send out 1 email per month and several people said they really appreciate the updates.)

[2017-12-28 09:46] Rush commented on #276
Please do.

[2017-12-28 09:48] mherrmann commented on #276
Done. Thanks.

[2017-12-29 15:56] mherrmann commented on #269
Finally had a little time to look into this. The reason you are getting the error is that the Core plugin's `OpenDirectory` has `__call__(url)` while the `OpenDirectory` from your VimNavigation plugin has `__call__(url=None)`. In general, it is [discouraged](https://fman.io/docs/api#DirectoryPaneListener.on_command) to overwrite commands from another plugin. The problem can be fixed by either

1.

[2017-12-29 17:39] mherrmann commented on #272
Implemented in [fman 0.8.1](https://fman.io/changelog#v0.8.1).

[2017-12-29 17:39] #272 closed, assigned to nobody

[2017-12-29 18:13] d0tfile opened #277 "fman not starting"
Hello! I have fman installed on Arch Linux (4.14.8-1-ARCH, Gnome, x11). After upgrading fman to 0.8.0-1 (I'm using [AUR](https://aur.archlinux.org/packages/fman/)) I'm getting error:

Also I tried package from site, but got same error. Can you help me, please?

[2017-12-30 07:49] fox8091 opened #278 "Allow switching panes with Left and Right arrow keys"

[2017-12-30 09:45] fox8091 opened #279 "Show drive name in drive select window"

[2017-12-30 15:27] raguay commented on #269
I opted for the 2) option and changed the function name. I also changed it for the "OpenWithEditor" plugin because it was having similar issues. I thought that overriding core commands was accepted. That way, I didn't have to change all the key bindings that call for an editor or opening the directory.

[2017-12-30 15:27] #269 closed, assigned to nobody

[2017-12-30 15:29] raguay commented on #278
Load the plugin "SwapPanels". It flips the panels to left on the right and right on the left. It's binds the shift-p key stroke.

[2017-12-30 22:30] fox8091 commented on #278
I don't mean flipping the panels, I mean switching _between_ them. You know, what Tab does.

[2017-12-31 05:42] mherrmann opened #280 "Emacs shortcuts on macOS"
macOS [natively supports certain Emacs keyboard shortcuts](https://jblevins.org/log/kbd). For instance, `Ctrl+P` to move the cursor up. The goal of this issue is to decide which of the shortcuts make sense for fman and implement them as well.

[2017-12-31 07:17] mherrmann commented on #269
Yes, sorry. I had not anticipated that people would like to overwrite commands. I think it's better not to do or encourage it for a few reasons;

1. A user might like to have your plugin's command _and_ the original command, bound to different shortcuts. That's not possible if the plugin command overwrites the original one.
2. The order in which plugins are loaded is [well-defined in theory](https

[2017-12-31 14:38] #6 closed

[2017-12-31 15:17] mherrmann commented on #278
I just released [fman 0.8.2](https://fman.io/changelog) which makes this possible. To get the behaviour you asked for, please [update fman](https://fman.io/docs/automatic-updates) and install [this plugin](https://github.com/mherrmann/SwitchPanesWithArrowKeys).

[2017-12-31 15:17] #278 closed, assigned to nobody

[2017-12-31 15:18] mherrmann commented on #273
Implemented at least a nicer message in [fman 0.8.2](https://fman.io/changelog#v0.8.2). Option "Open as Admin" left for a future release.

[2017-12-31 15:18] #273 closed, assigned to nobody

[2017-12-31 15:19] mherrmann commented on #277
I just released [fman 0.8.2](https://fman.io/changelog) that should hopefully fix the problem. Sorry for the trouble! I broke the package in a release on Friday.

[2017-12-31 15:19] #277 closed, assigned to nobody

[2017-12-31 15:20] mherrmann commented on #271
Implemented in [fman 0.8.2](https://fman.io/changelog#v0.8.2).

[2017-12-31 15:20] #271 closed, assigned to nobody

[2017-12-31 15:21] mherrmann commented on #279
I implemented a very rudimentary form of this in [fman 0.8.2](https://fman.io/changelog#v0.8.2). Can I ask you to [update fman](https://fman.io/docs/automatic-updates) and let me know what you think?

[2018-01-01 00:42] fox8091 commented on #278
Thanks! It works. However, the dialog is still there about it being impossible to change it currently.

[2018-01-01 00:44] fox8091 commented on #279
Seems to work. Also, one more suggestion that kind of falls under this as well, perhaps hide empty drives by default? (Noticeable when, for example, you plug in an all-in-one media card reader and only have one SD card inserted)

[2018-01-01 12:43] P1nk13P1 opened #281 "MoveToTrash Error"
Hello, I am using Fman like 2 months (yesterday buy licence, because like it) and now I am making free space on my external HDDs, wanted to remove in root directory of my one partition on one HDD, wanted to remove empty directory, but I got error while removing called "Command 'MoveToTrash' raised error."
![snimka](https://user-images.githubusercontent.com/20891196/34467685-c8460d72-eef8-11e7-8e00

[2018-01-01 14:51] jbonney opened #282 "Trying to copy a filename when editing it results in copying the file itself (not the file name)"
If I am in the right panel and try to edit a file name (Shift+F6) and then want to copy the name of the file (Ctrl+C), the file that was previously selected in the left panel is getting copied instead. It is therefore not possible to copy the file name.

OS: Linux Elementary Loki (based on Ubuntu 16.04.3)
fman version: 0.8.1

[2018-01-02 14:37] mherrmann commented on #278
Good point! Thanks. I will update the message in the next release.

[2018-01-02 14:56] mherrmann opened #283 "Don't show empty (non-connected) drives on Windows"
On Windows, fman also displays empty (non-connected) drives under `drives://`. This for instance happens when connecting all-in-one media card readers. The goal of this issue is to hide these empty drives, if possible. A nice addition to the feature would be if the drives became un-hidden when the user presses `Ctrl+.` (the default shortcut for toggling hidden files).

[2018-01-02 14:56] mherrmann commented on #279
Thanks. I created a follow-up issue (#283) for hiding empty drives.

[2018-01-02 14:56] #279 closed, assigned to nobody

[2018-01-02 15:05] mherrmann commented on #281
Hi Martin,

many thanks for getting a license and sorry for the bug. The error code would normally indicate that you don't have enough rights to delete the file / directory. Are you sure it's working with Explorer?

Best,
Michael

[2018-01-02 15:10] mherrmann commented on #282
Hi Jimmy,

I'm sorry but I cannot reproduce this (on my Ubuntu 16.04). What I did precisely was:

1. Start fman.
2. Press Tab to focus the right pane.
3. Press `Shift+F6` to edit the name of the current file under the cursor. This selects at least part of the file name.
4. Press `Ctrl+C`.
5. Open a text editor and paste into it with `Ctrl+V`.

As I would have expected, the name of the file in the

[2018-01-02 15:34] P1nk13P1 commented on #281
Ou. Yes, thanks for help, I dont mind, that I needed to use administration rights, after it its normally remove the directory, only want to say, if its there way to remove it without administration rights, really thanks for the tip. Martin

[2018-01-02 15:38] raguay commented on #281
Should at least give a nicer warning message that you don't have permission instead of an trace dump! Then have a button to switch to super user permissions. That is the way more file managers work it.

[2018-01-02 15:43] mherrmann commented on #281
Okay, so if I understand you correctly Martin, then admin rights were required. Then @raguay is right and fman should have given a nicer message "Access denied - try with admin privileges?" instead. That should be the goal of this issue.

[2018-01-02 20:48] jbonney commented on #282
Hi Michael,

I think I found the culprit! This was the settings from the OS to reveal the mouse when clicking on the Ctrl key (see screenshot below). When de-activating this setting, then this is working as expected. Sorry for the confusion.

![screenshot from 2018-01-02 21 43 42](https://user-images.githubusercontent.com/1498014/34499419-4a17ee20-f006-11e7-82d7-b917a0d7a629.png)

I am not sure wh

[2018-01-03 12:07] jhasse opened #284 "Use xdg-open to open the native file manager on Linux"
I've just tried fman on Ubuntu MATE 17.10 and pressing F10 won't open my native file manager but tell me to configure it. It would be great if this wasn't required and fman would use `xdg-open {curr_dir}` instead, as that should work for most (if not all) desktop environments.

[2018-01-03 13:04] mattijskersten opened #285 "Plugin 'Core' failed to load - RuntimeError: Font '[...]Open Sans.ttf' could not be loaded."
First time fman user. New install on Windows 10 fails to start. The following error message is shown. I have checked and the Open Sans.ttf file is present in the indicated location. When trying to open the ttf file using Windows Font Viewer, I get an error that it's not a valid font file (same for Roboto Bold.ttf)
Have tried to uninstall, re-download and re-install multiple times.

Plugin 'Core' f

[2018-01-03 13:12] mattijskersten commented on #285
Local issue. I'm not able to open any ttf files.

[2018-01-03 13:12] #285 closed, assigned to nobody

[2018-01-03 13:12] mherrmann commented on #285
Okay. Thanks for the report!

[2018-01-03 14:38] mherrmann commented on #282
Hey Jimmy,

thank you for letting me know. If it works in ST but not fman, then there is probably something that could be done to fix it. However, it's (I think) a pretty special use case and there are many other more important issues. I will close this as "wontfix" for now. It's still here for others to find if they encounter the same issue.

Cheers,
Michael

[2018-01-03 14:53] mherrmann commented on #284
Interesting, I did not know this. I just implemented your suggestion. It will be released with the next version of fman (usually in a couple of days). You will be notified of the new version [automatically](https://fman.io/docs/automatic-updates).

[2018-01-03 17:12] ave-63 opened #286 "error when opening directory"
Here's the error window that comes up:

`Command 'OpenDirectory' raised error.`

`Traceback (most recent call last):`
`  File "fman\impl\plugins\plugin.py", line 270, in _run_in_thread`
`TypeError: __call__() got an unexpected keyword argument 'url'`

It happens whenever I try to enter a directory directly when pressing Enter (or my right-arrow shortcut I set up). I've been working around it by ju

[2018-01-03 18:22] #286 closed, assigned to nobody

[2018-01-03 18:34] ave-63 commented on #286
The problem was the old version of the VimNavigation plugin.

[2018-01-04 05:03] ElnathK opened #287 "errors with ImDisk ramdisk(drive)"
I'm using windows 10 and imdisk toolkit to mount the ramdisk on R. it is no problem that starting fman and browsing the root of R drive. it shows root of R drive and I can open files in the root on fman.
(below are errors. of course, it doesn't occur on internal, external drive (USB 3.0 HDD) and mounted CD/DVD ISO image on windows 10)

1. fman cannot access subfolder of R drive.
![report2](https:/

[2018-01-04 06:49] #282 closed, assigned to nobody

[2018-01-04 06:51] mherrmann commented on #257
Closing this issue as it's unclear whether it still appears.

[2018-01-04 06:51] #257 closed, assigned to nobody

[2018-01-04 17:58] CameronBanga opened #288 "Allow sorting of files using keyboard commands/shortcuts"
Attempted to write a plugin for this, but I'm a very bad programmer, and it doesn't look like there's a way to implement it with current API regardless.

Please feel free to close if a duplicate, I searched and didn't see one, but may have missed.

Would love the ability to change sort order via the Command Palette. Very frequently, I'll want to sort differently based on the directory I'm looking

[2018-01-04 18:14] mherrmann commented on #288
Hi Cameron,

everything you said is correct. The API at the moment does not make it possible to do this. It might be possible to hack something together with PyQt, but it would be highly discouraged.

I love your initiative. Let me look into this and get back to you.

M

[2018-01-06 07:05] felubra commented on #287
I'm having the same issue, although the error occurs when I try to access the root of a normal NTFS volume in a normal HDD drive.

Windows 10.0.16299.125.

[code]

[2018-01-06 07:17] felubra commented on #287
OK, so I found the possible cause (for my case): in my system there is a file that does not have a (valid) modification date, so fman throws this exception and breaks the operation:
![image](https://user-images.githubusercontent.com/25326257/34637590-b6968128-f2a0-11e7-85bf-18f7d6e35c7b.png)
![image](https://user-images.githubusercontent.com/25326257/34637605-d31cbb0a-f2a0-11e7-8d15-5c36898b3d1a.p

[2018-01-07 09:19] mherrmann commented on #288
I'm adding a command that lets you select the sort column with a quicksearch dialog:

![image](https://user-images.githubusercontent.com/1076393/34648123-0ad194fa-f394-11e7-9a78-15946488efba.png)

If the selected column is already the current sort column, then the order is reversed (ascending <-> descending).

@CameronBanga under which name(s) would you expect to find the command in the Command Pa

[2018-01-07 12:32] macosxguru commented on #288
Wouldn't it make sense to have the command in the Command Palette named **Sort By…** ?

macosxguru

[2018-01-08 09:11] mherrmann commented on #288
Released in [fman 0.8.3](https://fman.io/changelog#v0.8.3) as **Sort By Column** :) To sort by the first, second or third column respectively, press `Ctrl/Cmd + F1/F2/F3` :)

[2018-01-08 09:11] #288 closed, assigned to nobody

[2018-01-08 09:12] mherrmann commented on #134
Implemented in [fman 0.8.3](https://fman.io/changelog#v0.8.3). :)

[2018-01-08 09:12] #134 closed, assigned to nobody

[2018-01-08 09:12] mherrmann commented on #234
Fixed in [fman 0.8.3](https://fman.io/changelog#v0.8.3). :)

[2018-01-08 09:12] #234 closed, assigned to nobody

[2018-01-08 09:12] mherrmann commented on #284
Implemented in [fman 0.8.3](https://fman.io/changelog#v0.8.3). :)

[2018-01-08 09:13] mherrmann commented on #265
Implemented in [fman 0.8.3](https://fman.io/changelog#v0.8.3). :)

[2018-01-08 09:13] #265 closed, assigned to nobody

[2018-01-08 09:20] jhasse commented on #284
Thanks for the fix :)

Unfortunately it doesn't seem to work for me (just updated fman via apt) - same Popen error message as before. Do I need to reset the settings or something first?

[2018-01-08 09:27] mherrmann commented on #284
When you initially encountered the problem, did you fix it by editing the settings?

[2018-01-08 09:30] jhasse commented on #284
No (where are the settings btw? Typing "setting" in the command pallet yields no results).

[2018-01-08 14:09] mherrmann commented on #284
Here is the revant page of fman's documentation: https://fman.io/docs/terminal. The file you want to look at is `~/.config/fman/Plugins/User/Settings/Core Settings (Linux).json`. Does it contain an entry for `native_file_manager`?

[2018-01-08 14:09] mherrmann commented on #284
Re-opening this issue until it's confirmed fixed.

[2018-01-08 14:12] jhasse commented on #284
The file doesn't exist:

[code]

[2018-01-08 14:24] mherrmann commented on #284
Then you have the default settings and for some reason the way fman launches `xdg-open` does not work. Are you still getting the `Please configure` error?

[2018-01-08 14:25] mherrmann commented on #284
(Sorry it's not working btw)

[2018-01-08 14:26] CameronBanga commented on #288
@mherrmann This is awesome! I think I'd probably expect the command as Sort, at least that was what  I had looked for first personally, and what I had planned to call my plugin.

Thanks for this, just made fman much more valuable personally. +1

[2018-01-08 14:28] jhasse commented on #284
Yes, exactly like before with 0.8.2.

No problem ;) Must be quite some work for you to support Linux in the first place.

[2018-01-08 14:30] mherrmann commented on #284
Ah, I think I know why. Let me fix this for the next version of fman.

[2018-01-08 14:39] mherrmann commented on #288
Glad to hear you like it! I don't think it's a big problem if it's called `SortByColumn` because the Command Palette suggests it anyways as soon as you type "Sort".
Cheers

[2018-01-08 14:43] CameronBanga commented on #288
Just saw your release notes for 0.8.3 and that you called it SortByColumn, I think that's great/perfect. Probably a better title than just sort anyways.

[2018-01-08 22:49] CameronBanga commented on #162
Following this one, had some issues with auto-update on Mac today (trying to grab the sort update). Tried quitting/reopening, but not sure, couldn't get it to hold.

Ended up just re-downloading from website, and that worked.

[2018-01-09 08:00] mherrmann commented on #162
Yes. I'm afraid the auto-update mechanism was broken in fman for Mac 0.8.2 and 0.8.3. Sorry for the inconvenience. It's fixed in 0.8.4.

[2018-01-09 14:25] CameronBanga commented on #162
Perfect, well then nevermind! I should be good now, on 0.8.4.

[2018-01-10 11:48] mherrmann commented on #162
Yes, hopefully :+1:

[2018-01-10 12:04] raguay commented on #162
I just manually updated. First launch I recieved this message:

Could not load folder /-psn_0_144636391

Traceback (most recent call last):
  File "fman/impl/session.py", line 105, in _init_pane
  File "fman/impl/plugins/mother_fs.py", line 56, in is_dir
  File "fman/impl/plugins/mother_fs.py", line 151, in _query_cache
  File "fman/impl/plugins/mother_fs.py", line 147, in _query_cache
  File "fma

[2018-01-10 12:28] raguay opened #289 "[Bug] List Plugins: Dies if Plugin.json is missing."
I was editing a plugin and it did not have the Plugin.json file since I was creating it. I happened to run the `list plugins` command (I believe this is an internal command) and it gave an error message saying the file did not exist. This could error more gracefully.

[2018-01-10 12:31] mherrmann commented on #289
I just fixed this. Will go live with 0.8.5.

[2018-01-10 13:00] mherrmann commented on #287
I fixed @felubra's bug (though I don't know why it occurred). Will go live with version 0.8.5. But I believe it's unrelated to yours @M53. I will have to take another look.

[2018-01-10 13:04] mherrmann commented on #162
Thanks for the report @raguay. I just fixed this for release 0.8.5.

[2018-01-10 14:10] mherrmann commented on #289
Fixed in 0.8.5.

[2018-01-10 14:10] #289 closed, assigned to nobody

[2018-01-11 01:00] Snuggle commented on #275
This has just been fixed! Thank you! ❤️

[2018-01-11 01:00] #275 closed, assigned to nobody

[2018-01-11 05:19] brettwhiteinc commented on #118
Sorry if it's bad behavior to resurrect an old issue. I'm new to Github and the developer world in general, but I just wanted to chime in that I'd love to have this feature for Windows. I use environment variables likes %USERPROFILE%, %APPDATA%, %LOCALAPPDATA%, %PUBLIC%, and %OneDrive% all the time.

Thanks for your consideration!

[2018-01-11 07:58] mherrmann commented on #275
Glad to hear it! Thanks for letting me know.

[2018-01-11 11:01] greenelephant commented on #264
Did you have a chance to look at this issue?
How do you open a file? (I'm a python programmer, maybe I could help).
I would like to start using fman but it's useless without open in editor option.

[2018-01-11 12:40] raguay commented on #264
Do you have my version of OpenWithEditor that makes use of the BitBar editor selector? That plugin takes some extra configurations. If not set, it will look like nothing happens. I never got around to making it more friendly, but I will. As far as I know, I'm about the only one using it. It would be nice to get some stats on a plugins usages (hint, hint...). 😄

[2018-01-11 12:46] mherrmann commented on #264
:smile: subtle @raguay, veeery subtle ;)

@greenelephant I'll take another look today, sorry.

[2018-01-11 12:52] raguay commented on #162
I'm not getting 0.8.5 to install. Do I need to do a manual install for it as well?

[2018-01-11 12:53] mherrmann commented on #162
You did leave fman running for a few mins @raguay before restarting?

[2018-01-11 12:53] mherrmann commented on #162
I really need to display some feedback about update status.

[2018-01-11 12:54] raguay commented on #162
for 10 minutes between five different tries. I figured that should get it if it was going to.

[2018-01-11 12:57] mherrmann commented on #162
Yes :( And you're on 0.8.4?

[2018-01-11 13:00] raguay commented on #162
Yes. 0.8.4. I'm also back in Thailand with fast fiber internet connection and not using cellar data right now. Therefore, it's not an connectivity issue.

[2018-01-11 13:04] mherrmann commented on #162
What do you get when you

1. Start `/Applications/fman.app/Contents/MacOS/fman` from the Terminal
2. Leave running for 5 minutes.
3. Close.
5. Start `/Applications/fman.app/Contents/MacOS/fman` from the Terminal again.

I don't understand (yet) why it doesn't work and am hoping the above will give some output explaining why. fman successfully updated from 0.8.4 to 0.8.5 on my system.

[2018-01-11 13:06] mherrmann commented on #162
(As always, sorry for the inconvenience.)

[2018-01-11 13:06] mherrmann commented on #162
(As always, sorry for the inconvenience.)

[2018-01-11 13:10] mherrmann commented on #162
Ah, and! The update check only starts once you clicked away the nag screen. I presume you don't get the nag screen because you have a license @raguay, but just in case.

[2018-01-11 13:13] macosxguru commented on #162
To murky the waters a bit, it worked fine on my system. Updated fine here.

macosxguru

[2018-01-11 13:32] raguay commented on #162
Okay. It just worked for me with the new update to the macOS. I didn't get to try it your way above. The VPN was off as well. Maybe the VPN messed it up this time. Not sure.

Yes, I've never seen the nag screen.

[2018-01-11 15:38] mherrmann commented on #264
But what @raguay said is actually an interesting question @greenelephant: Did you install any plugins?

[2018-01-11 15:40] mherrmann commented on #162
Okay, I'm glad it at least updated now. But it seems to be a constant pain point. I today looked into adding some visual feedback about update progress (at least something along the lines of a status message "Downloading update" or similar). Unfortunately, it's not as easy as one would hope.

[2018-01-11 15:44] mherrmann commented on #118
It's not bad behavior at all @brettwhiteinc. Your feedback is always appreciated.

fman's issues are prioritised according to the number of :+1: votes they receive. You can add your vote to this issue by clicking on the thumbs-up button on the initial comment:

![image](https://user-images.githubusercontent.com/1076393/34832975-a0f07f98-f6ee-11e7-868c-2f41f03b3766.png)

To see which features curre

[2018-01-11 16:25] greenelephant commented on #264
Guys, I removed user folder and started configuration from scratch. Everything is working fine. Now I have only ArrowNavigation plugin. Before this I had OpenWithEditor but haven't installed it now. Thank you for help :)

[2018-01-11 16:29] mherrmann commented on #264
Great to hear it's resolved! So it appears this was caused by a plugin overwriting an existing command. I didn't think people would overwrite commands, but some plugins did (why wouldn't they). That's why it's now officially [discouraged](https://fman.io/docs/api#DirectoryPaneListener.on_command) by the API.

Closing this issue :)

[2018-01-11 16:29] #264 closed, assigned to nobody

[2018-01-11 17:15] mannp opened #290 "Feature request: To sync all files in the selected pane to the none selected pane."
The biggest feature I use on my mac with Forklift 3 is to copy a directory or directory content to the opposite pane; with the source pane the one that is selected.

I am learning fman and it would be great to use it going forward on my linux machines, so I can phase out the mac :)

Thanks for your consideration.

[2018-01-11 17:42] mherrmann commented on #290
Hi and welcome to fman :) Isn't that exactly what `F5` does?

[2018-01-11 18:51] mannp commented on #290
Thats a copy rather than a sync isn't it?

I mean if I select the left pane all the files and directories will be copied to the right so they match.

Ideally there would be a both ways sync, so the files of the other side could be synced with the files on the opposite too.

Its also only to copy the files that don't exist on the other pane.

I guess its what rsync can do from fman :)

[2018-01-11 20:46] Akamaozu commented on #290
What would happen if a file or directory in the source has the same name as
one in the destination but it isn't an exact copy of it?

[2018-01-11 21:22] mannp commented on #290
I guess there are a number of options but the first one would be it would get updated by whichever is the newest, or by another criteria user selected perhaps.

[2018-01-12 04:59] raguay commented on #290
I use a script with the plugin LaunchScript to do the syncing using an external application (DSync). I also do it with two files using anther application. Works great for me this way.

[2018-01-12 05:04] raguay commented on #264
Sorry, but the latest version doesn't overwrite the command, but the keyboard assignment is redone using the new `bb open with editor` command.

[2018-01-12 06:12] mherrmann commented on #264
Yes, absolutely. What I meant was that an _old_ plugin overwrote the command, sorry. I was trying to highlight this an example of why it is better not to overwrite existing commands for (perhaps) other readers.

[2018-01-12 14:44] mannp commented on #290
Ok thanks.

Suppose it depends on whether its a core feature, a plugin feature or a plugin with external app feature that works with all platforms...

I guess I can do it with rsync, but then I don't need fman at all and isn't it about ease of use and having functionality out of the box.

[2018-01-15 08:43] nojaf opened #291 "Feature request: Copy file name"
It be nice to have next to `Copy to clipboard` and `Copy paths to clipboard` a command that copies the file name (without the full path) to the clipboard.

[2018-01-15 09:33] raguay commented on #291
The command is `copy_paths_to_clipboard` and it is tied to F11 on the Mac (I think that is the default for all oses actually).

[2018-01-15 11:01] nojaf commented on #291
Yes, except I don't want the entire path, only the filename.

[2018-01-15 11:35] raguay commented on #291
Okay. Just created a plugin for you. Install the `getfilename` plugin and you will have a command `get file name` that will copy the name of the current file/directory to the clipboard without the path. It should work for all oses. You can bind it to a hotkey by setting the hotkey to the command `get_file_name`. Have fun.

[2018-01-15 12:32] nojaf commented on #291
@raguay wow thanks man! What an amazing response time.
Gratitude!

[2018-01-15 12:32] #291 closed, assigned to nobody

[2018-01-22 01:36] xiaodaigh opened #292 "Show summary statistics on selected files e.g. show total file size for all selected files"

[2018-01-22 09:06] mherrmann commented on #61
fman 0.8.6 will unset `LD_LIBRARY_PATH` on Linux to avoid the issue you mentioned @agateau. Let's see if it leads to any unwanted side effects.

[2018-01-22 11:14] agateau-g commented on #61
Nice!

[2018-01-22 11:21] mherrmann commented on #292
Thank you for the suggestion. Where would you like to see this information? In eg. the Size column, or in the status bar at the bottom?

[2018-01-22 11:22] xiaodaigh commented on #292
Windows has it at the bottom. But i guess i am open to better placement as
well

On 22 Jan. 2018 10:21 pm, "Michael Herrmann" <notifications@github.com>
wrote:

[2018-01-23 18:10] mherrmann commented on #172
Implemented in [fman 0.8.6](https://fman.io/changelog) :-)

[2018-01-23 18:10] #172 closed, assigned to nobody

[2018-01-23 18:11] mherrmann commented on #284
[fman 0.8.6](https://fman.io/changelog) is out. Can you let me know whether it fixes the issue for you @jhasse ?

[2018-01-23 20:02] joshas commented on #292
There's plugin for this: https://github.com/kek91/StatusBarExtended
Although I wouldn't mind if this functionality would be implemented in fman core. Take a look at TC status display - pretty simple and informative.
![image](https://user-images.githubusercontent.com/79141/35297898-1925bd4a-0089-11e8-959a-30e3ec2e2527.png)

[2018-01-24 06:46] mherrmann commented on #292
Yes, this would be nice. StatusBarExtended is a great first solution, but not yet perfect because fman does not expose all necessary APIs. In particular, StatusBarExtended cannot notice when you switch to the other pane (#68). Further, ideally there should probably be _two_ status bars, one where you see information for the left pane and another for the right one.

[2018-01-24 09:43] mherrmann opened #293 "fman only displays generic file icons on XFCE (Arch)"
@kek91, didn't you once say you were on Xubuntu?

[2018-01-24 11:45] kek91 commented on #293
Yes Michael, that's correct. I've since changed to Ubuntu but I can fire up a VM if you need some testing

[2018-01-24 11:47] mherrmann commented on #293
Thanks - do you remember if you got proper icons when you were still on XFCE?

[2018-01-24 12:00] kek91 commented on #293
No I can't remember, sorry. I looked through old screenshots but I could only find from Pantheon/Gnome/Windows environments ofcourse... :)

[2018-01-24 14:19] jhasse commented on #284
Yes, works perfectly! Thank you very much :)

[2018-01-24 14:19] #284 closed, assigned to nobody

[2018-01-24 14:21] mherrmann commented on #284
Cool! Thx for letting me know :-)

[2018-01-25 21:14] EdanMaor commented on #41
This is an incredibly important feature.

I just want to explain one use case I personally care about - let's say I want to move all the jpeg files from a certain folder to another folder. One easy way to do this with filtering is this - I type "jpg", this will display only the jpg files in the current folder. Then I can easily select all (this works only on visible files), then move these using t

[2018-01-26 05:56] mherrmann commented on #41
I agree. The use case you describe is just one of many that makes it important. I'll do my best to get to this feature soon but there are some others that I think are even more important.

[2018-01-26 13:28] mherrmann opened #294 "Add an API function for hiding/showing columns"
At the moment, there are API functions for [retrieving the current columns](https://fman.io/docs/api#DirectoryPane.get_columns) and for [changing the columns' sort order](https://fman.io/docs/api#DirectoryPane.set_sort_column). What's not yet available is a function that lets you add or remove columns to be displayed. This is required to let plugin developers define (and use) their own columns for

[2018-01-27 11:17] joshas commented on #240
I noticed, that trying to extract password protected zip file looks like if it would work, it even allows browsing inside it, but trying to copy files from it results in tmp file created in target directory and message "Copying ... " in status bar. Would be nice at least to get message that operation is not supported.

[2018-01-28 16:45] digozzi commented on #177
+1. Any news on this? It would be essential for windows usage.

[2018-01-28 17:25] mherrmann commented on #177
Thx for the reminder @digozzi. I'll squeeze this into the next release in the coming days.

[2018-01-29 09:27] kolnogorov opened #295 "[Request] macOs: Hide to dock (CMD+M) adding"
Hello! First of all, i want to say thanks for the best file manager tool of all times!
And i wanted to ask, are you going to add CMD+M hide to dock option for macos?
Thank you once again! :)

[2018-01-29 09:29] mherrmann commented on #177
Implemented in [fman 0.8.7](https://fman.io/changelog#v0.8.7) :)

[2018-01-29 14:47] digozzi commented on #177
Great! Thanks for the fast fix! You just sold another license.

[2018-01-29 14:55] mherrmann commented on #177
That always makes my day. Thanks!!

[2018-01-29 15:00] mherrmann commented on #295
Thank you for the kind words :-) It should be easy enough to do this. I'll try to get it into the next release.

[2018-01-29 15:06] mherrmann commented on #295
Implemented :-) Will go live with fman 0.8.8.

[2018-01-29 15:25] mherrmann commented on #10
This bug no longer appears.

[2018-01-29 15:25] #10 closed

[2018-01-29 15:30] mbaricevic commented on #36
Hi,
I will really start to use fman after this is resolved (editable path bar).
Best regards, marko.

[2018-01-29 15:40] mherrmann commented on #143
This is now implemented in fman 0.8.7. It really was a lot of work and I'm very happy it's finally out there. One of the things you mentioned @bmix is already possible: Managing (sub-)processes and deleting (=killing) them. All the other things are not difficult to do via the new [API](https://fman.io/docs/api#FileSystem). Also @rkhwaja's request for Windows registry support can be implemented now

[2018-01-29 15:40] #143 closed, assigned to nobody

[2018-01-29 15:41] mherrmann commented on #143
(Should have mentioned that process management is possible through the [ProcessFS plugin](https://github.com/mherrmann/ProcessFS).)

[2018-01-29 21:25] wpirtle opened #296 "Command 'OpenDirectory' raised error."
I am getting the following error when attempting to open a drive letter.
![image](https://user-images.githubusercontent.com/2790627/35535235-902037ee-0508-11e8-8a97-76f6c6cf6580.png)

[2018-01-29 21:27] wpirtle commented on #296
I forgot to tell you, I am running Windows 10 x64 and the latest version of fman v0.8.7.
Wayne

[2018-01-30 02:16] raguay commented on #296
You need to remove the plugin and re-install it. That error is due to an older version that has been fixed. The command has been renamed to not conflict with an internal command that doesn't specify the url parameter. If you re-assigned the command to a different hotkey, you will need to change the command name.

[2018-01-30 02:16] #296 closed, assigned to nobody

[2018-01-30 08:58] mherrmann commented on #296
Yes, thank you @raguay. If the problem persists after removing your plugins, try manually deleting the `Plugins` directory in your [data directory](https://fman.io/docs/data-directory) @wpirtle. If you want to keep your settings (such as key bindings), back up the `Plugins/User/Settings` folder first.

[2018-01-30 11:25] neyangg opened #297 "the delete function failing all the time when updated to 0.8.6+"
When I was using fman v0.8.5 on Mac OS 11.12, it worked just fine. But after updated to 0.8.6, I couldn't delete a file. I mean when delete a file with shortcut keys, the file disappears at first and show up when refreshed. Could you give some help?

[2018-01-30 11:34] raguay commented on #297
Try the new 0.8.7. It's working fine for me.

[2018-01-30 12:00] mevin-e opened #298 "Attachment copied from Outlook 2016 cannot be pasted on fman pane."
OS: Windows 10
Email client: MS Outlook 2016
fman version 0.8.6

Pasting via Control + V

[2018-01-30 18:21] wpirtle opened #299 "error when attempting to install fman"
I am getting a 404 at this address when installing fman on Windows 10. https://update.fman.io/support/installer/?hl=&product=%7B91F6D922-553C-4E18-8991-53B3A925ACDA%7D&error=2&from_extra_code=1&guver=1.3.99.0&m=0&os=10.0&sp=&iid=&brand=&source=gethelp&testsource=auto

[2018-01-30 21:00] ThePlagueD0ctor commented on #29
Also i'd like to have "search by text" feature similar to ctrl+F7 on TC. It's so important feature for devs

[2018-01-31 04:55] neyangg commented on #297
@raguay I've tried many times (0.8.7), the problem repeats. By the way, delete permanently works just fine. I think I'd better read through the change log first. Many thanks for your kindly reply.

[2018-01-31 05:10] neyangg commented on #80
Sorry, but to be honest, I don't like the function of treating something like folder. Because when you do this, there would be more steps to unzip a file. I wonder if there is any way to close this function in the configuration or a byway to unzip conveniently as it used to be, thank you.

[2018-01-31 06:17] mherrmann commented on #36
Hi Marko, thank you for the feedback. Would it be enough for you if clicking on the path bar opened [GoTo on Steroids](https://fman.io/blog/goto-on-steroids/)?

[2018-01-31 06:56] mherrmann commented on #80
@neyangg: No problem. Please press `Ctrl+Shift+P` (or `Cmd+Shift+P` on Mac) to open the [Command Palette](https://fman.io/docs/shortcuts). Type `List plugins` and confirm with Enter. This should give you another list. Select the `Settings` entry and again confirm with Enter. This should take you to a folder that contains a file `Core Settings (<your OS>).json`. Edit this file by pressing `F4` and

[2018-01-31 07:18] raguay commented on #297
Just a diagnostic question: Is Finder running? The move to trash function only works if Finder is running. The delete permanently doesn't require Finder to run. I had this issue and created the FlexibleTrash plugin to just permanently delete the file/directory if Finder isn't running.

[2018-01-31 07:20] raguay commented on #297
Just a diagnostic question: Is Finder running? The move to trash function only works if Finder is running. The delete permanently doesn't require Finder to run. I had this issue and created the FlexibleTrash plugin to just permanently delete the file/directory if Finder isn't running.

[2018-01-31 07:51] mherrmann commented on #29
@ThePlagueD0ctor I agree that would be important.

[2018-01-31 09:01] mherrmann commented on #298
Interesting. Does it work in Windows Explorer?

[2018-01-31 09:16] mevin-e commented on #298
Hi, my observations:

If you copy something from Windows Explorer, and Control + V on fman, you get a prompt to confirm the paste but it works.

This issue is only when copying attachment from Outlook only. If you paste it into Windows Explorer, it get 'pasted'.

[2018-01-31 09:21] mherrmann commented on #299
Sorry for the trouble. You should have also seen a dialog similar to this one:

![image](https://user-images.githubusercontent.com/1076393/35614785-7e8a7f9e-0670-11e8-9487-3a65d111313b.png)

What did it say?

[2018-01-31 10:43] mherrmann commented on #298
Okay, I see. Thanks!

[2018-01-31 12:31] danmou opened #300 "Error while upgrading to 8.7 on Ubuntu"
I got the following error while upgrading from 8.5 to 8.7 through apt:

[code]

The upgrade still succeeded and fman seems to be working fine.

[2018-01-31 12:35] mherrmann commented on #300
Thank you for the report. I don't think this is a bug of fman. The error you posted seems to indicate that the problem lies in `/usr/lib/python3/dist-packages/debian/deb822.py` and `/usr/lib/update-notifier/package-data-downloader`, which are both external to fman.

[2018-01-31 12:53] ThePlagueD0ctor opened #301 "Column sorting should be saved and recovered after reopening the program"
Steps to reproduce -
change sorting direction or sorting column.
close fman.
Open fman
Expected: previous sorting is still applied
Actual: default sorting is applied

[2018-01-31 13:00] ThePlagueD0ctor commented on #29
Yes, thanks! Also i want to clarify that i meant searching text in files. For example i have a folder with stored procedures and i want to find those that contains some phrase (for example i need all procedures that call some function). That is extremely important thing).
Thank you!

[2018-01-31 13:01] mherrmann commented on #29
Yes, that's what I thought you meant :-)

[2018-01-31 13:49] danmou commented on #300
You're right, I mistakenly thought the update-notifier was some part of fman. After some further investigation I found that running `sudo apt install --reinstall python3-chardet` resolved the issue.

[2018-01-31 13:49] #300 closed, assigned to nobody

[2018-01-31 16:06] wpirtle commented on #299
After rebooting my pc fman installed correctly.

Thanks,

Wayne

From: Michael Herrmann [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 3:22 AM
To: fman-users/fman <fman@noreply.github.com>
Cc: Wayne H Pirtle <whpirtle@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [fman-users/fman] error when attempting to install fman (#299)

Sorry for the trouble. You should hav

[2018-02-01 01:35] neyangg commented on #297
I think you solved my problem. Finder got closed for some unknown reasons. When run it in background, the delete function come back. Thank you so much!!!

[2018-02-01 09:00] mherrmann commented on #299
Okay :-) If the issue occurs again, please do let me know.

[2018-02-01 09:00] #299 closed, assigned to nobody

[2018-02-01 12:17] mherrmann opened #302 "'Reload plugins' has no effect"

[2018-02-01 12:42] mherrmann commented on #301
Sorry for the trouble. I cannot reproduce this. Is this for a specific directory, or for all directories? Does the problem persist when you restart your computer?

[2018-02-01 15:07] ThePlagueD0ctor commented on #301
Hi! Computer restarting and folders have no influence on the problem. Just every time i launch fman it has default sorting (by name column).
I have Win10

[2018-02-01 15:11] mherrmann commented on #301
Thanks. And which folder are you viewing? Are you on the latest version of fman (0.8.7)? You can check by running the `About` command via the [Command Palette](https://fman.io/docs/shortcuts).

[2018-02-01 15:31] ThePlagueD0ctor commented on #301
Yeah, I have the latest version (0.8.7).
Folders:
left - C:\<NameOfProject>
right - D:\Backups
So both are just random folders with a few files.
Well, i even changed panes to just show C and D drives - the result is the same.
Also i noticed if a folder has a lot of files so a pane has a scrollbar - sort direction symbol (triangle) won't be shown in the last column (my case it's Modified column). I

[2018-02-02 09:26] kolnogorov opened #303 "[Request] Duplicate file"
Hi, i am sorry if i missed something and gorgeous fman does have this feature yet, but if it doesn't, could you please add it in some future versions?

I mean, duplication file in the current category.

Thank you!

[2018-02-02 09:58] mherrmann commented on #303
It's available as a plugin: [DuplicateFileDir](https://github.com/raguay/DuplicateFileDir) :-) For instructions on how to install it, please see [here](https://fman.io/docs/installing-plugins).

[2018-02-02 10:08] #303 closed, assigned to nobody

[2018-02-02 10:48] ThePlagueD0ctor commented on #43
I prefer context menu (like standard for current OS) because there is already a collection of useful commands and you don't need to invent them again. I use tortoise svn from context menu. Also time after time you need to get properties of folder/file (to change sharing, attributes, ...). I'd like to have a file manager that can completely replace OS's origin.
But as other people mentioned here it

[2018-02-04 13:13] ababak opened #304 "Reload plugins does not reload plugins"
If I edit my plugin in place, I expect to get the package reloaded by issuing "Reload plugins" command. But in fact, to see the changes I need to reload fman.

[2018-02-04 13:16] ababak opened #305 "API: get_application_commands returns a small subset of all available commands"
I expect to be able to get all the currently available commands.
`get_application_command_aliases('Open terminal')` also does not return an alias for the requested command.

[2018-02-04 13:49] ababak commented on #304
Sorry, a duplicate of #302

[2018-02-05 14:44] mherrmann commented on #304
Yes, it's already fixed and will go live with fman 0.8.8.

[2018-02-05 14:44] #304 closed, assigned to nobody

[2018-02-05 14:48] mherrmann commented on #305
I'm pretty certain this is because [get_application_commands(...)](https://fman.io/docs/api#get_application_commands) only returns [ApplicationCommands](https://fman.io/docs/api#ApplicationCommand). But `Open terminal` for example is a [DirectoryPaneCommand](https://fman.io/docs/api#DirectoryPaneCommand). You will likely want to use [DirectoryPane.get_commands(...)](https://fman.io/docs/api#Direct

[2018-02-05 14:56] ababak commented on #305
Yes, you are right, sorry for the confusion.

[2018-02-05 14:56] #305 closed, assigned to nobody

[2018-02-05 14:56] mherrmann commented on #305
Okay, thanks! I'll update the docs.

[2018-02-05 15:18] mherrmann commented on #305
[Docs](https://fman.io/docs/api#get_application_commands) updated.

[2018-02-05 15:30] ababak commented on #305
Perfect, thanks!

[2018-02-05 15:30] ababak commented on #305
Already updated my plugin.

[2018-02-05 16:32] mherrmann commented on #302
Fixed in [fman 0.8.8](https://fman.io/changelog#v0.8.8).

[2018-02-05 16:32] #302 closed, assigned to nobody

[2018-02-05 16:32] mherrmann commented on #295
Released as part of [fman 0.8.8](https://fman.io/changelog#v0.8.8).

[2018-02-05 16:32] #295 closed, assigned to nobody

[2018-02-05 16:34] mherrmann commented on #253
I just released [fman 0.8.8](https://fman.io/changelog#v0.8.8) that improves the auto-resizing of columns. Can I ask you to check it out @joshas and tell me if it works well for you now, or if you still would like the option of having fixed width columns?

[2018-02-05 17:50] joshas commented on #253
Much better, but there are still few "paper cuts":
1. Try creating new directory, opening it and copy few files there. "Modified" column will be too narrow to fit full date.
2. Navigating between directories with many files (vertical scrollbar visible) and few files (vertical scrollbar hidden) - headers move and end up in different position after directory switch.
3. When entering directory with m

[2018-02-05 18:00] mherrmann commented on #253
Those are all very good points. I'll keep this issue open until the points are fixed.

[2018-02-05 18:02] mherrmann commented on #253
(and thanks!)

[2018-02-05 18:20] mherrmann commented on #301
Okay, thanks. You should have a file `C:\Users\<YOUR USER NAME>\AppData\Roaming\fman\Plugins\User\Settings\Sort Settings (Windows).json`. What are its contents?

[2018-02-05 18:21] mherrmann commented on #301
(P.S.: I released [fman 0.8.8](https://fman.io/changelog#v0.8.8) today. The sort triangle should no longer be hidden.)

[2018-02-06 10:52] ThePlagueD0ctor commented on #301
The "Settings" folder contains only 3 json files:
Panes (Windows)
Preview Settings (Windows)
Visited Paths (Windows)
Also the triangle is still hidden:
http://take.ms/laBeX3
http://take.ms/S53rm

I installed it a week ago or so from your site and didn't reconfigure anything manually)
Reinstalling of fman doesn't help

[2018-02-06 22:15] joshas opened #306 "Cannot merge directory contents"
Test scenario:
left pane contents: one directory named "dir1" (/target/dir1/)
right pane contents: one directory named "dir1" containing another directory "dir2" with single file "test.txt" (/source/dir1/dir2/test.txt).
I expect that copying dir1 from source will copy all directories and files to target directory and I'll end up with /target/dir1/dir2/test.txt .
Currently while trying to copy dir1

[2018-02-07 07:49] mherrmann opened #307 "Sort triangle hidden behind scroll bar"
This was originally reported by @ThePlagueD0ctor in #301. It affects at least fman 0.8.7.
![image](https://user-images.githubusercontent.com/1076393/35904516-ab0bee9a-0be3-11e8-949a-f154825ac838.png)

@ThePlagueD0ctor, does the problem appear in all folders, or just `C:\Windows`? Does it also appear when you use `Ctrl+F3` to change the sort column?

[2018-02-07 07:51] mherrmann commented on #301
I have an idea what might be causing this. @ThePlagueD0ctor, I assume you clicked on Modified column with the mouse to change the sort order. Are sort settings also not remembered when you press `Ctrl+F3` instead?

I created a new issue for the sort triangle: #307. Let's continue the discussion for this bug there please.

[2018-02-07 10:50] ababak opened #308 "Allow forward slashes in GoTo on Windows"
As a Python user in a cross-platform environment, I use forward slashes in all of my scripts. Please allow forward slashes in Ctrl-P.
Also please consider switching to forward slashes in various parts of fman as a configurable option.
Thanks.

[2018-02-07 11:11] ThePlagueD0ctor commented on #307
Yes, the problems appear in all folders. If there is scrollbar - the triangle is not shown, if there is no scrollbar - the triangle is visible.
The problem can be reproduced with Ctrl+F3.
Maybe the reason is that i don't have SortSettings.json? But then - why i don't have it?)

[2018-02-07 11:14] mherrmann commented on #307
Okay, thanks. It's strange that the triangle doesn't appear for you.

I believe it's not related to `Sort Settings.json`. See my latest comment / question in #301.

[2018-02-07 11:33] ThePlagueD0ctor commented on #301
Yea, previously i was clicking with the mouse on Modified column to change the sorting. Ctrl+F3 changes sort order of Modified column successfully, but if i reopen fman - both panes will be sorted by "name" column again.

Whatever sorting (and order) was before i closed the app - after launch it back i see following things:
1) The app loads with one column per pane (name) with sort order asc (tria

[2018-02-07 11:40] mherrmann commented on #301
Hm... Does the file `Sort Settings (Windows).json` exist now?

[2018-02-07 11:42] mherrmann commented on #301
(Here's why I'm asking: Clicking with the mouse changes the sort order "directly". When you press `Ctrl+F3` on the other hand, this invokes fman's command `SetSortOrder`. This saves to `Sort Settings.json` and _then_ changes the sort order directly. So my suspicion is that the file previously didn't exist because you used the mouse. Obviously, that would still make it a bug.)

[2018-02-07 11:51] ThePlagueD0ctor commented on #301
As I mentioned yesterday - there wasn't SortSettings.json file. And it is there.
So it really doesn't remember anything after mouse clicks.
But after Ctrl+F3 it adds folder to the file with sorting info and after reopening of fman it keeps correct order but not "column " (it sorts by name but with correct sort direction)

[2018-02-07 15:41] mherrmann commented on #306
The description was perfect. I just implemented a fix for the bug. Will go live with version 0.8.9.

[2018-02-07 16:10] mherrmann opened #309 "Cisco AMP thinks fman is a virus"
The main reason for this seems to be that fman's installer modifies a system directory: `\WINDOWS\Tasks\fmanUpdateTaskUserS-1-5-21-1202660629-583907252-1801674531-500Core.job`. This is an artifact of the [auto-update mechanism](https://fman.io/docs/automatic-updates) on Windows. The reason this bug is important is because a large corporation reported it, and can't start using fman (potentially on

[2018-02-07 17:45] mherrmann commented on #306
Fixed in 0.8.9.

[2018-02-07 17:45] #306 closed, assigned to nobody

[2018-02-08 06:53] Schobers opened #310 "Make GoTo support other file systems"
It is impossible to navigate to zip://C:/image.zip nor to file://C:/Windows nor to any other URL with a scheme in it. If you need a use cases:
- Copying a link to a file in a zip directly (so I can access it quickly later).
- With more elaborate file system plugin implementations it could be easier to address a resource with a direct URL (e.g. using a FTP plugin).

Platform: Windows.
Versions: 0.8

[2018-02-08 07:11] raguay commented on #310
The Favorites plugin does. At least with the dropbox:// filesystem. I haven't tested others, but it should be fine.

[2018-02-08 07:20] Schobers commented on #310
@raguay see: raguay/favorites#6 (might be a duplicate of raguay/favorites#2).

[2018-02-08 17:56] joshas opened #311 "Directories not displayed in zip archive"
Opening this file https://github.com/jquery-validation/jquery-validation/releases/download/1.17.0/jquery-validation-1.17.0.zip in fman shows only files, no directories. Extracting with Finder works as expected.

[2018-02-08 18:10] mherrmann commented on #308
"Forward slashes in GoTo" is a duplicate of #175. If I could kindly ask, please

1. search for existing issues before opening a new one.
2. Only request one thing per issue. In the above example, the "Also..." part would be a separate issue imho.

Speaking of the second part, which other parts of fman do you mean?

[2018-02-08 18:14] mherrmann commented on #310
I'll change this issue to "Make GoTo support other schemes". One question that remains is when GoTo should auto-suggest paths on other file systems. My idea would be for it to only display other schemes when you've typed in `scheme://`. This prevents GoTo from displaying too many (probably irrelevant?) results. What do you think?

[2018-02-08 19:25] Schobers commented on #310
Sounds like a very reasonable plan!

[2018-02-08 20:37] joshas opened #312 "Deleting directory that is open in another pane results in null"
Create new directory on left pane, open that directory in right pane. Now go back to left pane and delete that directory. Right pane now shows null:// file system with null in header.
Would be nice if pane automatically switched to parent directory instead of going null.

[2018-02-09 09:31] ababak commented on #308
Hi Michael,

Unfortunately, searching for 'slash' showed only #212 which is just the opposite of #308 and searching for '/' and '\' is not supported, I believe. By other parts, I mean at least to copy the path of the selection.

Thanks.

[2018-02-10 10:56] ababak opened #313 "Inconsistent dialogs"
When calling the Command Palette or "GoTo on Steroids" we get a nice input box. But there are some other input dialogs (copy, rename, pack, etc.) that come up as very small modal dialog boxes floating over fman's window. They don't remember the desired size and they look a bit weird.
Why not make those dialogs appear the same way as the Command Palette and "GoTo on Steroids"?

Thanks.

[2018-02-10 11:02] ababak opened #314 "Make alternative keywords for some commands to appear in the Command Palette results"
I thought that creating zip archives is not supported yet. I tried "zip" and "archive" keywords. What about adding keywords to some commands so that they can be more easily found in the Command Palette?

I mean the command stays "Pack" but will come up when I type "zip". Maybe these keywords could appear aside the "Pack" word dimmed to show the reason why this command has appeared in the results l

[2018-02-10 11:55] ababak commented on #314
I've made a simple mockup to illustrate the idea
![tags_mockup](https://user-images.githubusercontent.com/11334363/36061882-f7482c8c-0e69-11e8-8922-516cfbdd95b0.png)

[2018-02-12 06:43] mherrmann opened #315 "Make path separator ("slash") configurable"
Some Windows users would like to use forward slashes `/` instead of backslashes `\` throughout fman. For GoTo, this is captured by #175. This issue is meant to capture the other features for which the forward slash should be enabled:

 * CopyPathsToClipboard

If you have others to add to this list, please just leave a comment below.

[2018-02-12 06:44] mherrmann commented on #308
Okay, thank you for the clarification. I'll close this issue and open a new one for the other parts you mentioned (#315).

[2018-02-12 06:44] #308 closed, assigned to nobody

[2018-02-12 10:13] mherrmann opened #316 "Copy/Move unnecessarily calls mkdir(...)"
Copying or moving a file to an existing directory unnecessarily calls [mkdir(...)](https://fman.io/docs/api#FileSystem.mkdir) on that directory. To improve performance, this should be avoided.

[2018-02-12 10:38] mherrmann commented on #314
That's a great idea. Also, thank you for the mockup. What do you think of displaying the `Pack` command as `Pack to archive (.zip, .7z, .tar)`? Then it would appear under any of the keywords "zip", "archive" and "pack":

![image](https://user-images.githubusercontent.com/1076393/36092811-f416011c-0fe8-11e8-9eb9-54f45b5b5d1f.png)

![image](https://user-images.githubusercontent.com/1076393/36092824-

[2018-02-12 10:47] mherrmann commented on #313
Interesting suggestion. One thing that the existing dialog boxes offer which Quicksearch (as it's called in fman's API) dialogs don't is the possibility to show a message. So when you copy a file, the dialog says "Copy filename.txt to...". In a Quicksearch dialog, it would not (currently?) be possible to display this.

Reading between your lines, I sense several pain points:

 * the dialogs are to

[2018-02-12 11:44] ababak commented on #314
Well, modifying the command itself is a good workaround. But I thought that adding alternative names could be a good addition for finding different commands.

[2018-02-12 11:49] ababak commented on #313
I think the second solution is much better in so many ways. Besides, adding the title will solve another existing UI problem: you can not know which dialog is currently active - GoTo or CommandPalette.

I can make some mockups if you need.

[2018-02-12 12:39] mherrmann commented on #314
Do you have particular alternative names in mind?

[2018-02-12 12:53] mherrmann opened #317 "Add an open(...) method to the FileSystem API"
If FileSystems can implement a generic `open(...)` method that opens a file as a text or binary stream for reading or writing, then fman itself could implement a default implementation for copying / moving across file system boundaries. For example, to copy from `dropbox://` to `file://`, fman could `open(dropbox://)` for reading, then `open(file://)` for writing and stream the contents of one to

[2018-02-12 12:59] ababak commented on #314
Go up = Parent
Quit = Exit (currently, you have two different commands for this, right?)
Terminal = Shell
Delete = Erase
Pack = Zip, Archive, Tar, 7z
Trash = Recycle bin
...to name a few)

[2018-02-12 18:43] kamilakis commented on #301
This is happening on Mac as well. Running latest version 0.8.9. It helps if the file manager 'remembers' sort settings per directory. I have tried editing the SortSettings.json file by hand, specifically I tried setting the "column" to "Modified" but it didn't work and it's contents are rewritten automatically to this:
`{"file:///Users/user/invoices": {"is_ascending": true, "column": "fman.impl.pl

[2018-02-13 13:50] kek91 commented on #309
It's been blocked here as well in our Palo Alto firewall.

![2018-02-13 14_49_17-virus_spyware download blocked](https://user-images.githubusercontent.com/1431734/36153002-2ff97f4e-10cd-11e8-8af2-f2ce13e5479b.png)

[2018-02-13 13:51] mherrmann commented on #309
Thanks. This is a real pain!

[2018-02-13 15:16] ababak opened #318 "Swap panes"
Midnight Commander and other two-pane file managers have Ctrl-U shortcut that swaps two panes. This command is missing in fman.

[2018-02-13 15:38] mherrmann commented on #318
Hi Andrey, have you seen the [SwapPanels plugin](https://github.com/raguay/SwapPanels)?

[2018-02-13 15:48] ababak commented on #318
Hi Michael,

Of course not, thank you for pointing it out. Just thought that it could be a core functionality.

Did you consider including some plugins that provide such core functionality in fman?
By the way, the plugin does not mimic Ctrl-U behavior as it does not keep the current selection focus.

[2018-02-13 16:09] mherrmann commented on #318
It would be cool if SwapPanels kept the current selection! I think this should be raised in [SwapPanel's issue tracker](https://github.com/raguay/SwapPanels/issues) for now.

I'm open to including such (very basic) functionality in fman! The Ctrl+U shortcut does seem to be common (you said it was in MC, I saw it's in TC as well). So the goal of this issue can be to add this feature into fman itsel

[2018-02-14 08:57] ababak opened #319 "Quit/Exit command freezes fman on Windows"

[2018-02-14 14:06] mherrmann commented on #319
Interesting, you are right. It happens for me as well. Thanks for reporting this.

[2018-02-14 14:08] mherrmann commented on #301
Those are interesting findings @kamhlos, thanks. I believe the problem is the `fman.impl.plugins.plugin.ColumnWrapper` (it should be `core.Name` or similar instead). I'm in the middle of some backend development work for fman and will get back to this after.

[2018-02-14 20:55] sytsereitsma opened #320 "Exception when trying to open a virtual drive (Python 3.5.3 issue on Windows 10)"
I use BoxCryptor to encrypt some of my DropBox folders. BoxCryptor creates a virtual drive on my system in which it presents the unencrypted data. When I try to open the drive, or any folder on the drive I get an exception (workaround below):

[code]
It appears this issue pertains to Python 3.5.3 only (I could not reproduce the error on Python 3.6).
I modified ```fman\Versions\0.8.9\Plugins\Core\c

[2018-02-15 09:48] mherrmann commented on #320
Interesting, thank you for the research and for sharing the fix.

By "the issue pertains to Python 3.5.3 only", you probably mean that you are able to reproduce it in a Python 3.5.3 shell, but not in a 3.6 one? Because the Python version which fman uses is fixed (3.5 atm).

[2018-02-15 18:52] mherrmann commented on #314
Thank you.

* `GoUp` is already available as `Go to parent directory`. This shows up when the user searches for "parent", so should be okay I think.
* `Exit` and `Quit` are both defined and aliases for the same command.
* The built-in command `Terminal` has the aliases `Shell`, `Open terminal` and `Open shell`. Should be okay too I think.
* I've never heard of _erasing_ a file. Is that really a te

[2018-02-15 22:46] klutchnikoff opened #321 "Natural sort of numbers within text"
Is it possible to sort files with the nutural order as does the "-v" option of "ls"?

[2018-02-16 02:18] raguay opened #322 "Drag & Drop: Used to move, now just copies. Make it configurable."
Originally, dragging a file(s) onto a directory in the panel would move them to that directory. Now, it just copies them. Could you make this configurable so that each user could have it the way they like it? Add a command `dragdrop move` and `dragdrop copy`? Or, something like that.

[2018-02-16 02:19] raguay commented on #318
SwapPanels now keeps current selections. Download the 1.5 release.

[2018-02-16 06:43] mherrmann commented on #321
Hi Nicolas,

do you mean like #84?

[2018-02-16 06:50] klutchnikoff commented on #321
Hi Michael,

Yes, exactly!

[2018-02-16 06:51] mherrmann commented on #321
Okay! That isn't implemented yet, I'm afraid. If it's important to you, you can leave a thumbs-up 👍 on the issue so I can update its priority.

[2018-02-16 07:01] mherrmann commented on #321
But I think I just found a way of implementing it :-) Will go live with 0.9.0.

[2018-02-16 07:02] mherrmann commented on #84
Implemented; Will go live with version 0.9.0.

[2018-02-16 07:03] mherrmann commented on #322
I would rather treat this as a bug? The normal behavior for file managers (eg Finder) is to move by default, and copy when you press (I believe) `Option` when dragging.

[2018-02-16 07:19] klutchnikoff commented on #321
Great to hear ;-)

[2018-02-16 07:20] #321 closed, assigned to nobody

[2018-02-16 07:26] raguay commented on #322
Either way. I prefer the move option, but some people might like that it copies. I always have to look for the cursor change shape to know if it moves or copies.

[2018-02-16 08:12] mherrmann commented on #322
Okay, I'll treat it as a bug for now because it's the "standard" behavior for file managers. This way you also get what you want (move being the default).

[2018-02-16 09:18] klutchnikoff opened #323 "Not able to view zip/tar files on Linux"
Hi!

Similarly to #251, the file pane does not display anything when I press the "enter" key on a **tar** or a **zip** file. However, the correct URL `tar:///path/to/my/file/foo.tar` is displayed.

FYI i'm using Ubuntu 17.10 and here are some basic tests that I made in my terminal:
[code]
and
[code]

[2018-02-17 19:45] sytsereitsma commented on #320
You are correct. I tried Path.resolve in both shells. 3.5.3 has the issue, 3.6 does not.

[2018-02-19 06:25] mherrmann commented on #320
Okay! Thanks :)

[2018-02-19 06:28] mherrmann commented on #323
Sorry for the trouble. I have an idea what could be causing this. I'll take a look.

[2018-02-19 14:32] klutchnikoff commented on #323
Hi,

I just realized that the problem only happens in specific situations. When file names include accented letters (for example).

I hope this can help.

Nicolas.

[2018-02-19 16:59] mherrmann commented on #323
Actually, that does help! Thanks. I'm deep in the trenches of some backend work for fman. I'll take a look when I'm done with this.

[2018-02-19 19:35] Kiedro opened #324 "GoTo on Windows not displaying vertical scroll bars"
Long paths are not fully displayed in the GoTo popup, making it impossible to navigate between heavy nested directories with a common root.

Possibility to display full path on the selection of entry,  or multi-line display of paths would be great.

An alternative solution is to replace middle part of the path with '...' (or anything else) so beginning and ending are visible - the most interesting

[2018-02-20 05:09] DoctorCocoBean opened #325 "FuzzySearch plugin error"
Installed the FuzzySearchFilesInCurrentFolder plugin and I get this error message whenever I try to open a file (windows 8, 64x):

 <img src=https://pre00.deviantart.net/4068/th/pre/i/2018/050/5/9/fman_plugin_error_by_doctorcocobean-dc3qnj4.jpg></img>

Thank you so much if you can help. Love fman btw!

[2018-02-20 07:06] raguay commented on #325
Hi, I fixed the plugin and sent a merge request. My fork of the repository has the fixed code if you want to try it out before he merges it in:  https://github.com/raguay/FuzzySearchFilesInCurrentFolder

[2018-02-20 07:15] DoctorCocoBean commented on #325
Wow that was fast haha. Thanks!!! It works now.

[2018-02-20 08:42] mherrmann commented on #324
Hi, thank you for the suggestion. What do you mean by "possibility to display full path"? At the moment, there is a horizontal scrollbar that should let you see the entire path. Doesn't it?

[2018-02-20 08:43] mherrmann commented on #325
Closing this issue :-)

[2018-02-20 08:43] #325 closed, assigned to nobody

[2018-02-20 08:52] kszcode commented on #325
Thank you @raguay, I did merge the pull request

[2018-02-20 10:02] raguay commented on #325
No problem. It was an easy fix.

[2018-02-21 14:54] elsassph opened #326 "[Windows] Cut moved all the files without the folders"
Maybe I did a wrong manipulations, but for my first try of cut&paste of a folder, instead of moving the folder I chose as-is, it started moving each individual file flat in the target folder.

Is it a "feature" I mistakenly used, or a bug?

[2018-02-21 14:55] mherrmann commented on #326
Hi and sorry for the trouble,

so you cut the file in Explorer and pasted into fman?

[2018-02-21 15:52] mherrmann commented on #314
Implemented the alias for the `Pack` command in 0.9.0.

[2018-02-21 15:52] #314 closed, assigned to nobody

[2018-02-21 15:52] mherrmann commented on #319
Fixed in fman version 0.9.0.

[2018-02-21 15:52] #319 closed, assigned to nobody

[2018-02-21 15:53] mherrmann commented on #84
Released as part of fman 0.9.0.

[2018-02-21 15:53] #84 closed

[2018-02-21 16:39] klutchnikoff commented on #322
The same bug occurs using cut[Ctrl+X] / paste [Ctrl+V].

[2018-02-21 16:40] mherrmann commented on #322
That's Ubuntu 17.10 @klutchnikoff?

[2018-02-21 17:40] klutchnikoff commented on #322
Yes.

[2018-02-21 18:21] elsassph commented on #326
No, in fman directly - though I've been trying again but it didn't happen. It's entirely possible that I did a wrong manipulation but that was entirely within fman.

[2018-02-21 20:47] ekarious opened #327 "Cannot quit fman with cmd+Q in macOS."
Hello,

It is been a few release now than i noticed the disabled `quit fman` in mac menu. The shortcut `cmd+Q` does not work either.

I am currently using fman 9.0.
Is this happening to someone else too ?

[2018-02-21 23:05] Kiedro commented on #324
Hi, I have only vertical scrollbar, as can be seen in the attached screenshot or I don't know how to activate the horizontal one ;). Windows 10.

![image](https://user-images.githubusercontent.com/6191914/36510672-240b163c-1764-11e8-9945-f3c84b74593b.png)

[2018-02-22 07:05] mherrmann commented on #327
I'm only seeing this when the splash screen is shown (the dialog saying "please buy a license"). Do you also experience this once you've closed the dialog?

![untitled](https://user-images.githubusercontent.com/1076393/36524615-debc149e-17a6-11e8-86a8-fd3b2cce82a8.jpg)

[2018-02-22 07:06] mherrmann commented on #326
Okay so if I understand correctly, you saw this once but it's not reproducible now?

[2018-02-22 07:20] mherrmann commented on #324
😀 I love your example. And you're right. The scrollbar appears on Mac and Linux, but not on Windows. I'll update this issue to reflect this.

[2018-02-22 10:51] ekarious commented on #327
I still do not have bought a license. I will soon as i want to truly invest myself in the wonderful app but in the meanwhile, after closing the "buy a license" dialog, the quit menu item still stay disabled.
I can currently close the app with the dock icon.

i may need to reinstall the app from scratch to test.

[2018-02-22 12:08] elsassph commented on #326
Yes, I suppose it should be closed but I'm confused how it can even happen.

[2018-02-22 12:08] #326 closed, assigned to nobody

[2018-02-22 12:59] mherrmann commented on #327
Strange, okay. Thank you for letting me know!

[2018-02-23 09:28] ekarious commented on #327
You're welcome :)

[2018-02-23 15:02] mherrmann commented on #327
I can reproduce this now:

1. Click the fman menu in the top bar while the splash screen is shown
2. Close the splash screen

Now the `Quit` entry in the menu is still disabled and `Cmd+Q` has no effect.

[2018-02-23 15:12] mherrmann commented on #327
Seems to be related to [this bug in Qt](https://forum.qt.io/topic/79992/qt-5-8-main-menu-items-disabled-in-osx/15).

[2018-02-23 15:56] mherrmann commented on #327
Further research shows that the problem appears whenever _any_ dialog is open. If the user clicks on the menu while this is the case, then the `Quit` entry is disabled. What's more, the entry stays disabled even after the dialog is closed. Then, also `Cmd+Q` has no effect and the only way to close fman is either via the `Quit` command in the Command Palette, or by clicking on the "close window" bu

[2018-02-23 16:04] mherrmann commented on #327
![screen1_cropped](https://user-images.githubusercontent.com/1076393/36603606-98cd5d74-18bb-11e8-9ed1-3ef83029f113.png)
![screen2_cropped](https://user-images.githubusercontent.com/1076393/36603607-9900b9c6-18bb-11e8-9bbf-d3f3a5fe57b6.png)

[2018-02-23 16:06] mherrmann commented on #327
I will fix this for now by at least making `Cmd+Q` work. I'll open a separate issue for the (Qt-caused) bug that the `Quit fman` menu item is disabled.

[2018-02-23 16:09] mherrmann opened #328 ""Quit fman" menu entry remains disabled"
This is a continuation of #327. On Mac, when any (modal) dialog is open, such as the splash screen or the Command Palette, and the user clicks on the menu, the `Quit fman` entry is disabled:

![screen1_cropped](https://user-images.githubusercontent.com/1076393/36603760-21c36678-18bc-11e8-95b6-80df5d222ca2.png)

That may be justifiable because the dialog is modal. What's not justifiable however is

[2018-02-23 16:30] mherrmann commented on #322
I'm sorry @klutchnikoff I cannot reproduce this with `Ctrl+X`/`Ctrl+V` on Ubuntu 16.10. I tried the following combinations:

- fman -> fman
- fman -> Nautilus
- Nautilus -> fman

I tried each of these with both a single and with two files. In every case, the files were moved as expected (or fman opened the `Move...` dialog, which is also expected). What precisely were the steps you took that exhib

[2018-02-23 22:43] klutchnikoff commented on #322
Hummm...

fman -> fman : the bug occurs (the `copy...` dialog appears)
Nautilus -> fman : same thing
fman -> Nautilus : nothing is happening (No copy, no move, nothing!)

However `Move [F6]` works as expected.

In fact I'm using the Wayland "flavor" of Ubuntu 17.10 (Gnome 3). I don't know if the problem is related to this. I'll perform some tests under xorg.

[2018-02-24 12:49] ekarious commented on #327
Okay, i understand. Thank you for your time :)

[2018-02-24 12:50] ar-jan commented on #35
I just tried fman for the first time, and I missed this. I'd suggest `Alt+Up` should also navigate to parent dir.

[2018-02-26 11:12] mherrmann opened #329 "Make Alt/Cmd-Up go to the parent directory"
Requested by @ar-jan in #35.

[2018-02-26 11:12] mherrmann commented on #35
Thank you for the feedback / suggestion @ar-jan. I've created a [separate issue](https://github.com/fman-users/fman/issues/329) for `Alt-Up`.

[2018-02-26 11:39] mherrmann opened #330 "Cut/Paste copies instead of moving on Ubuntu 17.10 (Wayland/Gnome 3)"
Continuing a report by @klutchnikoff in #322.

[2018-02-26 11:40] mherrmann commented on #322
@klutchnikoff, okay, would be great if you could let me know what you find. I've opened a [separate issue](https://github.com/fman-users/fman/issues/330) for this. If okay with you, I'd like to continue the discussion there please.

Regarding drag and drop, the bug has been there since at least version 0.5.8 on Linux.

[2018-02-26 12:18] mherrmann commented on #322
On Mac:
 * in 0.8.4 dragging from Finder into fman doesn't work at all. fman -> Finder does work
 * up to 0.7.1, fman <-> Finder both work as expected
 * in 0.7.2, 0.7.3, 0.7.5, 0.8.1, 0.9.0 Finder -> fman copies instead of move, fman -> Finder works as expected (moves)

So it seems the bug was introduced in 0.7.2.

[2018-02-26 12:50] crimoniv commented on #329
Hi @mherrmann and @ar-jan,

FWIW, I'm currently using the following **key bindings** that mimics the default **Nautilus** behaviour:
[code]

Cheers!

[2018-02-26 13:06] mherrmann commented on #329
Hi @crimoniv, thanks for sharing! That's the perfect solution. The question is, should this feature be implemented at all, or would `Alt-Up/Down` clash with other shortcuts people might expect?

[2018-02-26 14:04] raguay commented on #329
I suggest just make this as a plugin call Nautilus compatibility or something similar. Having it as a default might start to make the defaults too big. Especially, if there are other defaults for other file-managers that people want to add-on.

[2018-02-26 14:39] raguay opened #331 "[Bug] Bad Error dialog when running `install plugins` from command prompt"
I went to check to see if there are any new plugins with the `install plugins` command on the command prompt. It is consistantly giving me this error:

Command 'InstallPlugin' raised error.

Traceback (most recent call last):
  File "urllib3/connectionpool.py", line 601, in urlopen
  File "urllib3/connectionpool.py", line 346, in _make_request
  File "urllib3/connectionpool.py", line 850, in _vali

[2018-02-26 14:45] mherrmann commented on #331
Thanks. It's an issue with SSL certificates / macOS's OpenSSL version. I already have a fix and will release it later today.

[2018-02-26 15:14] raguay commented on #331
Okay. Thanks.

[2018-02-26 15:14] #331 closed, assigned to nobody

[2018-02-26 15:14] mherrmann commented on #329
Thx for the suggestion @raguay. While I'm a big fan of minimalism, I'm not 100% sure in this case. For two reasons: First, it's trivial to implement (just like @crimoniv suggested). So it doesn't bloat fman in terms of size or code complexity. Second, at least `Alt/Cmd+Up` is a very standard shortcut that works on all OSs. `Alt/Cmd+Down` however does not work on Windows. Hm...

[2018-02-26 15:21] crimoniv commented on #329
I think that such a decision —to use shortcuts *à la **Nautilus***— should not be part of the defaults as it is a matter of personal preference, but OTOH it seems such a common shortcut to me —as I'm really used to **Nautilus**/**Caja**/**Thunar**—.

Maybe it should be published as a plugin, as @raguay said, and/or mentioned in [Custom shortcuts | fman](https://fman.io/docs/custom-shortcuts) (alth

[2018-02-26 15:31] raguay commented on #329
I wasn't saying code bloat, but hotkey bloat. I think it's best to keep the standard set that is common across all platforms and majority of the file-managers as the base, then others, specialized ones as addons. For example, Alt/Cmd+up/down shows a preview on my mac. It doesn't move up or down. Therefore, maybe that is a more specialized command than a standard type command.

[2018-02-26 15:33] mherrmann commented on #329
@crimoniv but it wouldn't be "use Nautilus's shortcuts", would it? It would be more akin to "support a shortcut that works on all major OSs".

@raguay I see. But isn't Alt/Cmd+Up "common across all platforms"?

[2018-02-26 15:33] mherrmann commented on #329
(@raguay less sure about Alt+Down, as it doesn't work on Windows)

[2018-02-26 15:43] raguay commented on #329
I take that back, Cmd-Up does go to parent on both Finder, Commander One, and Path Finder. But Cmd-down launches the file in both Finder and Path Finder on my macos. Commander One goes to the last entry on the directory for Cmd-down. Therefore, the results are not universal, but special, right?

[2018-02-26 15:50] mherrmann commented on #329
@raguay I'd say they're universal for Cmd-Up and special for Cmd-Down. That all three of the file managers you mentioned support `Cmd-Up` is another pretty strong sign (imho) that this shortcut really is very universal.

[2018-02-26 15:51] mherrmann commented on #329
`Alt+Up` does not work in Total Commander though.

[2018-02-26 16:12] klutchnikoff commented on #330
Same problem using xorg.

I noticed that Ctrl+V is bound to `Paste`. However there is a `Paste cut` command.
Using `Cut` and then `Paste cut` produces the expected result (at least inside **fman**).

[2018-02-26 16:13] klutchnikoff commented on #330
Using `Cut` and then `Paste cut` ...

[2018-02-26 16:13] crimoniv commented on #329
It seems that GNOME, Xfce, KDE and Windows's file explorers use similar shortcuts —excluding <kbd>Alt</kbd>+<kbd>↓</kbd>, which only GNOME supports—, cannot talk about Krusader/Finder/Commander though.

### Nautilus
Shortcut | Action
--- | ---
<kbd>Alt</kbd>+<kbd>↑</kbd> | Go up (parent dir)
<kbd>Alt</kbd>+<kbd>↓</kbd> | Go down (go to selected dir / open selected file)
<kbd>Alt</kbd>+<kbd>←</kbd>

[2018-02-27 08:52] mherrmann commented on #327
[fman 0.9.1](https://fman.io/changelog#v0.9.1) is out. It makes `Cmd+Q` work again.

[2018-02-27 08:52] #327 closed, assigned to nobody

[2018-02-27 08:52] mherrmann commented on #322
Fixed in [fman 0.9.1](https://fman.io/changelog#v0.9.1) :-)

[2018-02-27 08:52] #322 closed, assigned to nobody

[2018-02-27 08:53] mherrmann commented on #320
I just released [fman 0.9.1](https://fman.io/changelog#v0.9.1) that updates Python to 3.6. It should fix the issue :-) (@sytsereitsma, if it doesn't, could you let me know?)

[2018-02-27 08:54] mherrmann commented on #331
[fman 0.9.1](https://fman.io/changelog#v0.9.1) is out and fixes the issue :-)

[2018-02-27 09:21] mherrmann commented on #329
Wow, that is one nice analysis. Thank you @crimoniv!

fman already implements <kbd>Alt</kbd>+<kbd>←</kbd> and <kbd>Alt</kbd>+<kbd>→</kbd>.

I don't think it makes too much sense to spend a lot of time debating this issue. @ar-jan requested <kbd>Alt</kbd>+<kbd>↑</kbd>, @crimoniv uses it as well and it's a very ubiquitous shortcut. I'll implement it.

Regarding <kbd>Alt</kbd>+<kbd>↓</kbd>, I won't a

[2018-02-27 10:06] raguay commented on #331
Yep. It works fine now. Thanks.

[2018-02-27 10:08] mherrmann commented on #331
Cool :-)

[2018-02-27 12:29] andreifecioru opened #332 "Crash on open even after clean re-install"
Below is the crash log:

[code]

[2018-02-27 12:48] nblackburn opened #333 "Improved activation flow"
The current process of activating the software is tedious and not very user friendly so it would be nice to work on improving this going forward.

One option would be to detect User.json inside the application as a special file and when double clicking on it, registers the application

Alternatively you could register a custom URI protocol allowing for one click activation of the software removing

[2018-02-27 14:07] mherrmann commented on #333
Hi Nathaniel,

thank you for the suggestion.

Isn't that pretty much what the `Install license key` command does?

[2018-02-27 14:08] mherrmann commented on #332
Thank you for reporting this and sorry for the trouble. Does it crash every time, or did it only happen once?

[2018-02-27 14:10] nblackburn commented on #333
@mherrmann Not quite because it still makes asssumptions as to where it needs to be for it to work making it counter-intuitive.

Instead because this is a file manager after all, perhaps detect `User.json` inside the application as a special file and when double clicking on it, registers the application.

Obviously this would work better as a file format specific to fman.

[2018-02-27 14:59] dacarras opened #334 "fman doesn't open on mac OS High Sierra 10.13.3 (17D102)"
Hi Michael,

I updated Mac OS one day ago, and this morning the application was working fine. Yet, I restarted the machine and the application stopped working.

Hi guess is interacting with the last mac update.
I'm attaching a copy of the crash log.

[mac_log_20180227.txt](https://github.com/fman-users/fman/files/1763347/mac_log_20180227.txt)

[2018-02-27 15:01] mherrmann commented on #334
Thank you Diego and sorry for the trouble. Does [the previous fman version](http://download.fman.io/0.9.0/fman.dmg) work? If yes, you may have to [disable fman's automatic updates](https://fman.io/docs/automatic-updates) until I am able to fix the problem.

[2018-02-27 15:04] mherrmann commented on #332
(Just realized that you wrote "even after re-install" so I'm assuming it happens every time.)

To get fman working again, please [disable fman's automatic updates](https://fman.io/docs/automatic-updates) and install the [previous version](http://download.fman.io/0.9.0). Sorry for the trouble. I'm looking into this immediately.

[2018-02-27 15:10] dacarras commented on #334
Partially. I tried to reinstall a previous version, but the "install plugin" command is not working either.
I'm attaching that crash log as well.

[plugin_log_20180227.txt](https://github.com/fman-users/fman/files/1763396/plugin_log_20180227.txt)

[2018-02-27 15:13] mherrmann commented on #334
Yes, `Install Plugin` not working is because of a macOS update. The new version (which completely crashes for you now) was meant to fix this problem. The annoying thing is that it does not crash for me (so I cannot reproduce it). Still looking into it...

[2018-02-27 16:05] mherrmann commented on #334
@dacarras, I prepared a [snapshot version of fman](https://www.dropbox.com/s/22ng8vwwrdbhmor/fman.dmg?dl=1) with a fix attempt. Does it work for you? I must admit it's a shot in the dark, I'm trying to rule out the cause of the problem.

[2018-02-27 16:07] mherrmann commented on #332
@andreifecioru does [this version](https://www.dropbox.com/s/22ng8vwwrdbhmor/fman.dmg?dl=1) work for you? It's an attempt at a fix I just created but may or may not work.

[2018-02-27 16:11] dacarras commented on #334
It doesn't work either.

[2018-02-27 16:16] mherrmann commented on #334
Pity, okay. I did two things in 0.9.1 that could be the cause of this issue:

1. I updated fman's Python version from 3.5 to 3.6
2. I updated PyInstaller, the library which is used to turn fman's source code into a standalone executable, to a new version.

The snapshot version reverted 2. Looks like I'll have to revert 1. as well... I'll keep you updated.

[2018-02-27 16:18] andreifecioru commented on #332
@mherrmann I have tried the version you linked in your response. It still crashes. Seems to be a nasty one... keep digging. I posted the crash report below (hope it helps):
[code]

[2018-02-27 16:21] andreifecioru commented on #332
@mherrmann since we are trying arbitrary builds, I have no issue with installing a debug version (if you have one) to give you more info than a stack dump...

[2018-02-27 16:50] ndcooke opened #335 "MoveToTrash error"
I am unable to delete files or folders under Windows, including files of folders under my documents, or folders created by fman the operation before.

I receive "MoveToTrash" error.

![image](https://user-images.githubusercontent.com/14249205/36741883-e3fc46dc-1bab-11e8-9e22-71a1f32c50c7.png)

[2018-02-27 16:55] mherrmann commented on #335
Thanks for the report and sorry for the trouble Norman. I updated fman's Python version in 0.9.1 and there seem to be several problems related to this. I'm in the process of drafting a new fman release that restores the "old" Python version. Hopefully, it will fix the problem. Will let you know once it's out.

[2018-02-27 17:45] mherrmann commented on #332
@andreifecioru thanks, I don't know if the debug info will help much because the problem is (I'm pretty confident) not caused by fman's source code, but by its libraries. I uploaded a new version. Can you [try again](https://www.dropbox.com/s/22ng8vwwrdbhmor/fman.dmg?dl=1)?

[2018-02-27 17:46] mherrmann commented on #334
@dacarras I uploaded a [new version](https://www.dropbox.com/s/22ng8vwwrdbhmor/fman.dmg?dl=1). Can you let me know whether it works for you?

[2018-02-27 18:17] dacarras commented on #334
Now is working!
Thanks Michael!

[2018-02-27 18:22] mherrmann commented on #334
Okay, great. Thanks for letting me know! New release coming up...

[2018-02-27 19:08] mherrmann commented on #334
fman 0.9.2 is out and should hopefully fix the problem. You can obtain it (as usual) from https://fman.io/download.

[2018-02-27 19:08] #334 closed, assigned to nobody

[2018-02-27 19:08] mherrmann commented on #332
I just released fman 0.9.2 that (I hope) will fix the problem. Can you [re-install](https://fman.io/download) and let me know whether it works?

[2018-02-27 19:09] mherrmann commented on #335
fman 0.9.2 is out. Does the problem still appear when you [update](https://fman.io/docs/automatic-updates)?

[2018-02-27 19:12] mherrmann commented on #329
Released as part of [fman 0.9.2](https://fman.io/changelog#v0.9.2).

[2018-02-27 19:12] #329 closed, assigned to nobody

[2018-02-27 19:22] andreifecioru commented on #332
I'll test it tomorrow when I get to work.

[2018-02-27 19:22] ndcooke commented on #335
I just updated and I still get the same error.

[2018-02-27 19:22] mherrmann commented on #332
Okay great thanks.

[2018-02-27 20:15] mherrmann commented on #335
Okay, sorry. Then I don't think it's caused by the new version. I'll take a look tomorrow.

[2018-02-27 20:24] ndcooke commented on #335
Oh, bummer.  Sorry to have you revert a python upgrade and then it not do anything.

I'm available for troubleshooting it whenever.  I'll test it on my other systems when I get home to see if maybe it's a configuration issue from an old plug-in (I removed all of them to troubleshoot the issue).

I'm not sure what configuration files I'd need to drop from where to do a clean reinstall to test wheth

[2018-02-27 20:57] genecivillico commented on #332
I have this problem too. Doesn't seem to be fixed after clean install of 0.9.2

[2018-02-28 03:15] raguay commented on #332
For reference: all the versions (9.1 and 9.2) are working fine for me on macOS 10.13.3 (17D102). I have python 2.7.14 and 3.6.4 installed and used on my system.

[2018-02-28 08:13] mherrmann commented on #335
I was able to find the cause of the issue and just released [fman 0.9.3](https://fman.io/changelog#v0.9.3) with a fix. If it still doesn't work for you @ndcooke, please let me know!

[2018-02-28 08:13] #335 closed, assigned to nobody

[2018-02-28 15:19] andreifecioru commented on #332
I confirm that the latest version I have downloaded from the official site works for me now (no crash). Thanks!

[2018-02-28 15:20] mherrmann commented on #332
Yay, thank god. Thanks!

[2018-02-28 15:21] mherrmann commented on #332
Are you sure you're still experiencing the issue with 0.9.2 @genecivillico?

[2018-02-28 17:17] genecivillico commented on #332
I'm afraid so - just did a clean re-install with 0.9.3 and it still happens

On Wed, Feb 28, 2018 at 10:25 AM, Michael Herrmann <notifications@github.com

[2018-03-01 01:00] kszcode commented on #332
Hi Micheal, for some reason this link does not work http://download.fman.io/0.9.0

I'm getting this:

[code]

[2018-03-01 07:19] ghost commented on #332
Experiencing crashes with latest version on macOS X El Capitan 10.11.6 . Link to version 0.9.0 is not working.

[code]

[2018-03-01 09:10] mherrmann commented on #332
@kszcode that link isn't supposed to work. You need to append the file name:

- http://download.fman.io/0.9.0/fman.dmg
- http://download.fman.io/0.9.0/fmanSetup.exe
- http://download.fman.io/0.9.0/fman.deb

[2018-03-01 09:11] mherrmann commented on #332
@vaidotas-adf does http://download.fman.io/0.9.0/fman.dmg work for you?

[2018-03-01 09:13] mherrmann commented on #332
@genecivillico what's your macOS version? Which error do you get?

[2018-03-01 10:27] ghost commented on #332
@mherrmann Yes, 0.9.0 works. Productivity restored 👍

[2018-03-01 11:25] mherrmann commented on #332
@vaidotas-adf happy to hear that works at least. Can I still ask you (and you @genecivillico) to try [this snapshot version](https://www.dropbox.com/s/pw7dz8g2vx0g4zf/fman-0.9.4-SNAPSHOT.dmg?dl=1), which I just prepared? If it works for you now then I will make this one the new release.

[2018-03-01 12:13] ghost commented on #332
Snapshot version crashes. This time I'm getting "Segmentation fault: 11" error, when starting fman from command line directly (from inside of fman.app directory). Last time I got at least some verbose error message.

[code]

[2018-03-01 14:18] nblackburn commented on #309
https://www.virustotal.com/#/file/678edd2dd1b8868aaf5b19edfb9f3ae7332e7fe163e51ced305b0130934b50bc/detection

![image](https://user-images.githubusercontent.com/2931085/36849458-07f4de4e-1d5c-11e8-8639-f98019c82778.png)

[2018-03-01 15:39] noformnocontent commented on #332
### 0.9.3
[code]

### 0.9.4 SNAPSHOT
[code]

[2018-03-01 15:52] kszcode commented on #332
Thank you @mherrmann http://download.fman.io/0.9.0/fman.dmg works for me

[2018-03-01 16:25] genecivillico commented on #332
The new 0.9.4 snapshot works for me, thanks!

On Thu, Mar 1, 2018 at 6:25 AM, Michael Herrmann <notifications@github.com>
wrote:

[2018-03-01 17:57] mherrmann commented on #332
@vaidotas-adf I uploaded a new version of [the snapshot](https://www.dropbox.com/s/pw7dz8g2vx0g4zf/fman-0.9.4-SNAPSHOT.dmg?dl=1). Sorry for this endless back and forth, but you could try again please?

[2018-03-02 06:53] ghost commented on #332
Yes, new version of snapshot is working. Glad to help testing.

[2018-03-02 11:58] mherrmann commented on #332
Thank you very much everyone. I just released [fman 0.9.4](https://fman.io/changelog#v0.9.4) that should hopefully fix the problem. I also wrote a [blog post](https://fman.io/blog/battling-with-macos/) about the past few days battling with this problem.

[2018-03-02 11:58] #332 closed, assigned to nobody

[2018-03-03 15:32] svlcode opened #336 "Cannot delete file/folder"
It seems that a few seconds after deleting a file or a folder, the file/folder appears again.
I use fman v 0.9.3 on Windows 10.

[2018-03-04 16:49] mherrmann commented on #336
Sorry for the trouble. I fixed this. Will go live with release 0.9.5.

[2018-03-04 17:26] mherrmann commented on #333
Okay :) I implemented it now so that when you "open" the license key file in fman, it asks whether you want to install it. Further, the `Install License Key` command lets you browse for the file if it isn't present in the current directory. (Previously, the command simply said "license key file not found".)

[2018-03-04 19:09] mherrmann commented on #36
@raguay when do you only need to copy _parts of_ the path from GoTo? Instead of the entire path I mean.

[2018-03-04 19:49] svlcode commented on #36
Hi Michael,
I have a few different suggestions regarding the use of an editable path bar:
1. Click to navigate to parent folders. See [image](https://i.imgur.com/S9ENROs.png).
2. Type an alias command (like cmd or [cmder](https://github.com/cmderdev/cmder)) to open the terminal  or other apps (like vscode, or sublime) which can the current path. See the [gif](https://i.kinja-img.com/gawker-media/i

[2018-03-04 20:12] nblackburn commented on #333
Great, thanks for getting this done.

[2018-03-04 20:12] #333 closed, assigned to nobody

[2018-03-05 06:51] mherrmann commented on #36
Hi Vio,

I agree that the "click to navigate to parent folders" is nice. Perhaps eventually, fman will get an implementation like it. But it's more difficult to implement, so for now I'd like to just implement (in fact, already have implemented) the "open GoTo" version.

Regarding your second point, all examples you gave are already possible. To open cmd in the current directory, press <kbd>F9</kb

[2018-03-05 08:01] mherrmann commented on #336
Fixed in [fman 0.9.5](http://fman.io/changelog#v0.9.5).

[2018-03-05 08:01] #336 closed, assigned to nobody

[2018-03-05 08:01] mherrmann commented on #36
Implemented in [fman 0.9.5](http://fman.io/changelog#v0.9.5).

[2018-03-05 08:01] #36 closed

[2018-03-05 08:04] mherrmann commented on #333
(Implemented now in [fman 0.9.5](http://fman.io/changelog#v0.9.5).)

[2018-03-05 09:29] nblackburn commented on #125
Any progress on this, it still happens on Windows?

[2018-03-05 09:40] mherrmann commented on #125
No new progress yet, I'm afraid. The current implementation makes the Command Palette a modal dialog. So it behaves like a "are you sure you want to quit?" dialog. A new implementation - probably the goal of this issue - would be to draw the Command Palette inside fman's main window, over the rest of the GUI. For now, you'll have to close the Command Palette with <kbd>Escape</kbd> if you want to m

[2018-03-05 09:45] nblackburn commented on #125
@mherrmann Yeah, that sounds like what is required, i will leave this open for now.

[2018-03-05 09:46] mherrmann commented on #125
Yes, sure. You're [not the only person](https://www.macworld.co.uk/download/system-desktop-tools/fman-093-3331358/) who finds this a pain.

[2018-03-05 13:52] ababak opened #337 "fman won't start on Centos"
After typing "fman" it just exits immediately without any errors and any trails in the logs. "fman --help" works as expected (shows version number and usage info).

Is there anything that can be done to make it work on Centos?

Thanks.

CentOS Linux release 7.4.1708 (Core)
fman version 0.9.5

[2018-03-05 13:55] mherrmann commented on #337
First, I'm afraid I need to say that CentOS is currently not supported. So I can't spend much time right now helping with this. Second however, you may be able to get more output by running `/opt/fman/fman`.

[2018-03-05 14:22] ababak commented on #337
Here's the output:
[code]

[2018-03-05 15:12] Akamaozu commented on #333
This is a great improvement.

Really awesome to see fman improve so much. Keep up the good work, @mherrmann!

[2018-03-05 15:15] mherrmann commented on #333
Thank you @Akamaozu!! Always great to hear encouraging feedback :-)

[2018-03-06 18:30] joshas opened #338 "Add option to download fman zipped for Windows"
In some cases it would be useful to have semi-portable version of fman, without installer and auto updates. Please add download option of fman in a zip.

[2018-03-07 09:51] mherrmann commented on #338
Hi, I believe this is a duplicate of #82 so I'm closing this issue. Feel free to re-open if you think it's not a dupe.

[2018-03-07 09:51] #338 closed, assigned to nobody

[2018-03-07 17:28] joshas commented on #338
My issue is that I would like to download fman without installer to run it from any directory I'd like. Currently only option for Windows is to download installer, install fman and only then move it to different directory, and finally uninstall version installed by installer :)

[2018-03-08 14:42] danmou commented on #276
It seems like the problem is much worse on my machine. I also have an SSD and i7, but it takes several seconds just to open my Downloads folder, which contains around 100 subdirectories and 700 files. I'm running Linux, in case that explains the difference. In all other file managers I've tried it opens pretty much instantly, so it shouldn't be too hard to achieve better performance.

[2018-03-08 14:43] mherrmann commented on #276
Yes. It must become faster. I will look into this, just some other issues that are still more pressing first.

[2018-03-08 18:23] kszcode commented on #276
While we are on this topic, I would like to mention that copy and move is also being run synchronously one by one. So copying even just 100 files in a directory, will result in 100 refresh events, so I can see the files being added one by one.

Normally this should happen on another thread and the refresh should kick in every few seconds.

[2018-03-09 07:57] mherrmann commented on #276
Hey Kuki,

fman does copy on separate threads. (To be precise, _every_ command runs in a separate thread to keep the UI responsive.) I don't think it's a big problem if files are updated one by one - if they are changed one by one, why not update? Why I think you experience this as bad is simply because the updates are "too slow". That's what I will aim to fix in this issue.

[2018-03-10 18:31] ababak commented on #337
It's a pity as I had to move from Windows to Centos on my main computer. I was sure it should work with Centos as PyInstaller seems to support it. Hope you'll be able to have a look one day.

[2018-03-12 20:19] kiddten opened #339 "Strange labels ColumnWrapper"
![image](https://user-images.githubusercontent.com/9250239/37307305-8ba80e80-264b-11e8-9a51-9bcbe365672d.png)
I've just installed fman, pressed ctrl+shift+p, chosed `sort by column` and getting pic related?
Isn't it should be actual column names name, size, modified?

[2018-03-13 06:38] mherrmann commented on #339
Eh, you are right. I will fix this in the next release.

[2018-03-13 11:45] mherrmann commented on #339
Fixed in [fman 0.9.6](https://fman.io/changelog#v0.9.6).

[2018-03-13 11:45] #339 closed, assigned to nobody

[2018-03-13 11:45] mherrmann commented on #323
Fixed in [fman 0.9.6](https://fman.io/changelog#v0.9.6). If you can still reproduce it with some files I may have not tested, please let me know.

[2018-03-13 11:46] mherrmann commented on #311
Fixed in [fman 0.9.6](https://fman.io/changelog#v0.9.6).

[2018-03-13 11:46] #311 closed, assigned to nobody

[2018-03-14 09:32] raguay opened #340 "[Bug] Properly Install Applications on macOS."
If I download an application and move it to the Application folder using fman, then the system treats that program as if it is on a read only device. It can't update itself or set privileges to check things on the net. If I use Finder to move the application back to Downloads folder, and them move it back to the Applications folder, then the application runs as expected.

fman isn't the only progr

[2018-03-14 09:50] mherrmann commented on #340
Hey Richard,

normally you download `.dmg` files. By "moving it to the Application folder", are you talking about the `dmg` file, or about a `.app` directory?

[2018-03-14 13:27] raguay commented on #340
An application, which is a directory. But, if I launch a dmg file on fman, go to the /Volume/\<dmg name\> directory and move the application to /Application, it runs as in a read only directory.

Any program that I download and then use fman, Dropzone, or any other program than Finder to move it to the /Application folder will run as though it resides in a read only folder. Once I use Finder to mo

[2018-03-15 02:39] siliconvoodoo commented on #43
NEVER GIVE IN to include the OS's standard context menu in fman !
NOT having this, is one of the principal reasons for using another file explorer.
the OS's context menu is bloated by plugins that are called in the forms of dll, this is very unsecure and in the case of, say, tortoise SVN, it breaks often and freezes or crash the whole explorer process. (thus the need for tools like sysinternal's s

[2018-03-15 03:08] siliconvoodoo commented on #14
anti virus are the trojans. they also complain for any 64 KiB demo of the demoscene (because they are compacted exe). They complain for any wallet of cryptocurrency, they complain even for stuff you are developing yourself sometimes. antivirus -> recycle bin. fixed.

[2018-03-15 07:01] mherrmann commented on #14
It's true. Many people, including at large companies, have complained that AV are causing more trouble than they're worth. There was a case for instance where AV was "patching" Chrome to hook into it, and as a result making it _much_ more vulnerable.

Unfortunately, AV is a reality especially in the corporate world. I will have to deal with it.

[2018-03-15 07:05] mherrmann commented on #43
@siliconvoodoo I think that's a little too harsh. Some people - see above - would benefit from the default context menu for integrations such as TortoiseSVN etc. I looked into this a few days ago and believe I will offer the OS's context menu in fman. It simply contains some functionality you can't get otherwise. It's what people expect when they right-click. And when someone says their context me

[2018-03-15 07:10] siliconvoodoo commented on #43
Yes, I need to be harsh on this one because I have a strong opinion. I understand people request as far as the feature is concerned. This is very desirable, but they don't seem to understand the consequence.
If you implement that, please make it opt out in a very sharp way (I want none of the toxicity from this feature at all). If no opt out -> for me it is going to be immediate uninstall of fman.

[2018-03-15 07:29] mherrmann commented on #43
I love that you are so passionate about this :+1: It's likely the feature will be scriptable via fman's [plugin API](https://fman.io/docs/plugins-introduction). But why is it so important to you to be able to disable it? If you don't like the right-click menu, couldn't you just simply not right-click?

[2018-03-15 07:33] danmou commented on #43
I must say I agree with siliconvoodoo on this one. The OS context menu gets quickly bloated and slow, and customizing it is a PITA. Besides, it would ruin the cross-platformness of fman to have a different context menu on each OS. A compromise could be some way of excluding/including specific items from the native context menu through fman's settings.

[2018-03-15 07:58] siliconvoodoo commented on #43
@mherrmann thank you. yes my anti-passion for this feature comes from the fact that it is the very presence of this feature that killed it for another explorer (I think xplorer2 lite) it is crashing systematically as soon as you right click. So even if "not right clicking" is an option, it will happen by mistake and cause frustration. And it's going to be a misery for you to support because these

[2018-03-15 08:43] mherrmann commented on #43
@siliconvoodoo if only it were so easy to cherry-pick the elements from the OS shell. I've been researching this for Windows in the past days and simply displaying the default CM is doable. But any customization is painful. Also, how would you configure it? It depends on the kind of file (eg. you may get different suggestions for a PDF than for a JPEG). Etc.

@Danmou thank you for chiming in. I ap

[2018-03-15 08:56] mherrmann commented on #340
Interesting. I wonder if similar problems will happen when you "delete" an applications from `/Applications`. I vaguely remember that there was some other file manager on macOS that also had a specialized option for "properly uninstall applications when deleting them". I'll have to do more research but must also say I'm at the moment busy with other tasks such as still improving fman's onboarding

[2018-03-15 11:33] raguay commented on #340
No problem. I mostly created this one as something to note, but maybe do something about in the future. To me, the problem looks like it is a function of the GateKeeper subprocess. I doubt non-macOS apps can get hooked in. But, I thought you should know about it.

[2018-03-15 12:12] mherrmann commented on #340
Sure :) Thanks for letting me know!

[2018-03-15 13:19] Taconvino commented on #43
Just to be clear, I have nothing against a context menu if it's not a mandatory thing. I mean, if "extract here" and "open with" will not be implemented as a command pallette option  because they are part of the context menu I most certainly will be disappointed.

[2018-03-15 13:21] nblackburn commented on #43
Whether you make a custom context menu or use the native implementation doesn't matter. If someone makes a plugin, i would expect them to be able to edit the options in it (a zip plugin would likely want to add a zip/extract option for example).

The point of a context menu is to change based on context, if it always shows the same options regardless then it is nothing more than a menu which is no

[2018-03-16 02:23] mateyd commented on #57
I like the layout of http://ranger.github.io

![screenshot0](https://user-images.githubusercontent.com/37427657/37500351-552feaf0-28c9-11e8-94a8-9c3e1c5684bb.png)

Dunno if you already knew it.

[2018-03-16 07:46] mherrmann commented on #57
@mateyd thank you pointing it out :-) Before starting fman, I compiled a list of the ~100 file managers that exist and ranger was one of them. Thanks!

[2018-03-16 10:22] #323 closed, assigned to nobody

[2018-03-16 19:47] jbonney opened #341 "Issue when deleting a folder"
Hi,
When trying to delete a folder from my [keybase](https://keybase.io/) folder on Linux, an error occurs. See screenshot below for more information.
![selection_005](https://user-images.githubusercontent.com/1498014/37541503-27f08288-295b-11e8-8f46-ba5a4df71dc2.jpg)
Let me know if you need additional information.

[2018-03-18 06:46] mwean opened #342 "Use ~/.config data dir if available on Mac"
Hi! I was wondering if it would be possible to use `~/.config/fman` as the data directory on Mac if it's available. This would work better with dotfile repos, and I think it fits with the concept of the app. Thanks!

[2018-03-18 14:41] mherrmann commented on #342
Hey Matt, couldn't you just symlink `~/.config/fman` to fman's normal data directory `~/Library/Application Support/fman`?

[2018-03-18 20:12] mwean commented on #342
Sure, I just thought it would be a nice option to have. I've had some weird things happen when I've symlinked settings for other apps.

[2018-03-19 08:20] mherrmann commented on #342
I see :-) In this case, I hope you don't mind if I close this issue as wontfix. It's a pretty special requirement and if the user can solve it with something as simple as creating a symlink, then I consider it out of scope for fman. Don't let this deter you from opening other issues though!

Cheers,
Michael

[2018-03-19 08:20] #342 closed, assigned to nobody

[2018-03-19 08:37] mherrmann commented on #341
Hi Jimmy, which distribution are you on and which DE are you using?

[2018-03-20 17:34] mherrmann commented on #312
Fixed in [fman 0.9.8](https://fman.io/changelog#v0.9.8).

[2018-03-20 17:34] #312 closed, assigned to nobody

[2018-03-20 17:37] mherrmann commented on #266
[fman 0.9.8](https://fman.io/blog/network-shares-on-windows/) added a first implementation for network shares on Windows. You can now see a list of shares when you press `Alt+F1/F2` and select `Network...`.

The points of this issue however still remain:
 * When starting to type `\\` into GoTo, fman should suggest available network locations
 * When typing `\\machine`, it should list the folders o

[2018-03-21 17:59] mherrmann commented on #43
I conducted further research into how this feature could be implemented - this time on Mac. Unlike Windows, it is not possible to "simply display Finder's context menu for a file". So I will have to implement logic that tries to mimic Finder's behavior as best as possible. The logic will likely have to ask which Services are installed (eg. BetterZip), then display them. Then there are other featur

[2018-03-21 18:29] joshas opened #343 "zip contents not displayed in fman"
I got some strange zip files, when opened in fman 0.9.8 on macOS they appear empty - no files, nor directories. Extracting with Finder works as expected. zipinfo also displays all files.
Is there any way I could check zip properties, version, etc. to report to you, because I cannot send you that particular zip file.

[2018-03-21 20:31] nozzlegear opened #344 "Shortcut list (F1) extends offscreen on high-res displays."
(I'm using Fman on Windows.)

When I press the F1 key to bring up the shortcut list on my Surface Book (3000x2000 resolution), the list extends all the way off the screen and it's difficult to see the few shortcuts near the bottom. The formatting is also messed up and difficult to read.

Sorry for the big image:

![image](https://user-images.githubusercontent.com/2417276/37735637-aaff4082-2d1c-11e

[2018-03-21 21:04] kek91 commented on #344
Hi, sorry about this. Looks like you're using my [ShowKeyBindings](https://github.com/kek91/ShowKeyBindings) plugin and unfortunately I'm lagging behind on updating the plugins.

I don't think the `show_alert` frame supports a scroll bar, and I can't see any new methods in the [fman api](https://fman.io/docs/api) to open a new window/frame widget, so I suppose the easiest workaround here is to spl

[2018-03-21 21:06] nozzlegear commented on #344
Oh shoot, I'm sorry! I thought this was part of fman itself, forgot I installed your plugin. I'll create an issue there in a sec.

[2018-03-21 21:06] #344 closed, assigned to nobody

[2018-03-21 21:20] kek91 commented on #266
I think you should also consider adding an artifical delay here when someone types "\\\\" before scanning the network. It doesnt have to be long, but like 0.2-0.3 seconds, just so fman doesnt start uneccessary network scans every time someone type \\\ as part of something else.

Also be aware that for medium/big sized networks the scan can take a while. For instance, at my job we have 3-400 comput

[2018-03-21 21:21] jbonney commented on #341
Hi Michael, I am using elementary OS 0.4.1 Loki (Built on "Ubuntu 16.04.3 LTS"). The DE is Pantheon. Let me know if you need more information.

[2018-03-22 05:38] mherrmann commented on #343
Can you describe the rough folder/file structure in the Zip file? You don't have to give the real file names. Eg.:

 * root/
   * subdir/
     * file.txt
   * file2.txt

I suspect that none of the root folders contains a single file.

[2018-03-22 11:41] mherrmann commented on #341
Hi Jimmy, does deleting other files work?

[2018-03-22 12:14] mherrmann commented on #344
Not at the moment, I'm afraid. You can currently do it. But it's not officially supported.

Regarding the present issue, there really should be scroll bars in the alert. This is #97.

[2018-03-22 12:16] mherrmann commented on #266
I was thinking of only starting the scan when the search query _begins with_ "\\". Because then it would be clear it's a network path, right?

Thank you for the suggestions. I'm curious, do you think you'll have a chance to try `Alt+F1` then `Network...` at your job? Would be interesting what the performance is like currently.

[2018-03-22 13:39] kek91 commented on #266
Yes that's true. But if the user already knows where he's going, starting a scan would be unnecessary, hence the 0.2s delay. Alternatively just kill the scan threads and spawn new (filtered) scans if user types more letters (indicating part of the server name).

Maybe I just overthink it, as long as the fman UI doesn't hang I guess it doesn't really matter.

Oh boy, I just did some testing here an

[2018-03-22 13:48] kek91 commented on #344
Yeah, I'm trying to avoid importing Qt and stay with fman api :)
I got an idea to prettify the output (workaround for height and avoid those silly misaligned tabs with `\t`) in the alert box so will do that first, no worries.

[2018-03-22 15:55] mherrmann commented on #344
Sounds good :)

[2018-03-22 16:00] mherrmann commented on #266
Interesting, thank you very much for the research insights Kim. (Really helps because I don't have a company network I could use to test.)

When you say "it only lists the shares from my own personal computer", do you mean it actually only shows shares that "physically" lie on your personal computer? Because then, the "Network view" is actually kind of useless ;)

Thanks!
M

[2018-03-22 16:32] MikiGrit commented on #43
As far as I am concerned, I guess I fall within the category A). As I'm currently missing ability to open file in different program than default one.

Also a way to run a simple python script on given file(s) would be nice (similar to Windows "sendto"). I can easily imagine something much more powerful with ability to ask user for additional input after running the script, etc...

[2018-03-22 16:59] WhispersOfJ opened #345 "libgcc_s.so.1 must be installed for pthread_cancel to work"
It was working when I was on Ubuntu yesterday.

Came back to Arch because I get bored very easily.

Installed it from the FMAN repo and this is the error I get when I try and load it.

`libgcc_s.so.1 must be installed for pthread_cancel to work`

I am sure this is something easy I am overlooking, but for the life of me I cannot think of what to do.

[2018-03-22 17:22] kek91 commented on #266
Glad to be of assistance :)

No not physical drives, but **network shares** which is configured to be shared from the computer. Windows doesn't share anything by default (*), so it's actually just an empty folder. Useless describes it accurately hehe

I feel we need more testing though, maybe there are some network restrictions in our environment. I mentioned earlier I can try from my Linux comput

[2018-03-22 18:27] joshas commented on #343
File structure is like this, I just had to redact a few items (changed file names, hide dates and file sizes), hope that won't interfere with investigation.
[code]
What I noted after comparing with another zip - this file is missing directory entries, as separate "files".

[2018-03-22 18:29] mherrmann commented on #343
That is precisely the cause of the problem. :-)

[2018-03-22 18:41] mherrmann commented on #343
Maybe some more interesting detail: fman internally uses 7-Zip via the command line. If you say "give me all files in archive.zip/dir" it's very slow. The reason for this is that 7-Zip doesn't just give you dir/file.txt but also dir/subdir/subdir/file.txt. You can say "exclude dir/subdir/*" to get around this. But! If dir/subdir doesn't have a directory "entry" like you mentioned, 7-Zip doesn't gi

[2018-03-23 03:07] siliconvoodoo commented on #43
@WestFlame "sendtoscript" would be great. that would allow the community to come up with scripts that do all sorts of fancy stuff. like detect the type, do the most appropriate operation, scan for virus with virus total, diff stuff on multi selection of sources, imagination is the limit...

[2018-03-23 06:26] mherrmann commented on #43
@siliconvoodoo @WestFlame running Python scripts on selected files is _exactly_ what [fman's plugin system](https://fman.io/docs/plugins-introduction) does. Check it out!

(I've noted your feedback @WestFlame. I assume you are on Windows.)

[2018-03-23 06:30] mherrmann commented on #345
Hm, I just tested on an up-to-date Arch KDE VM and it works for me:
![image](https://user-images.githubusercontent.com/1076393/37814740-db56810a-2e6b-11e8-8cd8-23e61946c98f.png)

There are a couple of Google results for the error you quoted. Can they help?

[2018-03-23 08:19] MikiGrit commented on #43
@mherrmann I'm aware of plugin system but for this purpose, it seems too heavy for each script to have it's own plugin. I imagine some sort of folder with scripts within (although now that I think of it, it could be plugin as a whole :) ).

I'm on Windows and also Linux (Ubuntu).

[2018-03-23 08:23] raguay commented on #43
If a full plugin is too heavy, use my plugin 'LaunchScripts' (https://github.com/raguay/LaunchScripts). It allows you to run scripts in any language on your system and sets the environment variables for the different planes and files. Give it a try.

It might be nice to have a menu entry "User Scripts" that shows a sub-menu of each script in the user scripts directory for this plugin. That would b

[2018-03-23 08:26] MikiGrit commented on #43
Wow, that looks like exactly what I thought of :D. Thanks for suggestion.

[2018-03-23 08:31] siliconvoodoo commented on #43
@raguay that sounds cool indeed. +1. they could even filter if they want to appear on this extension using a shebang comment.

[2018-03-23 17:02] WhispersOfJ commented on #345
Whatever it was, it was on me and not fman at all. All is well now after a wipe and reinstall.

[2018-03-23 17:02] #345 closed, assigned to nobody

[2018-03-23 21:49] jbonney commented on #341
Hi Michael, there are no issues to delete other files.

[2018-03-26 07:22] mherrmann commented on #345
Happy to hear it's working for you now :-)

[2018-03-26 08:21] mherrmann commented on #341
I've implemented an attempt at a fix. Will go live with 0.9.9. I'd ask that you please test once it's out and let me know whether it works. I'll let you know here when it's ready.

[2018-03-26 08:28] mherrmann commented on #43
An interesting thing that was just pointed out to me via email by a user is that another shortcut to open the context menu on at least Linux (Nautilus) and Windows is <kbd>Shift+F10</kbd> :-)

[2018-03-26 15:26] kalons7 commented on #43
Yes, I'm aware of that, but I almost always use the dedicated context menu
key since it's more convenient.

On Mon, Mar 26, 2018 at 2:28 AM, Michael Herrmann <notifications@github.com>
wrote:

[2018-03-26 15:46] vovcacik commented on #43
@mherrmann I don't think it is good idea to try to replicate native context menus as you write in your [comment][] above, because it will be very hard to get it right. Just for the Windows you would need to consider:
- extension of the file
- path of the file (e.g. context items in Dropbox folder and subfolders)
- context menu items can be defined in multiple locations
  - in windows registry
  -

[2018-03-26 16:25] vovcacik commented on #43
With the above in mind I was wondering how this sounds to you:

- fman will have his own independent implementation of context menu
- the context menu items would be (mostly or all) commands from Command Palette
- thus the menu is easy to edit (by user or other plugins)
- native context menu will be available through plugins only
  - [purists][] will be happy
  - fallback to native context menu is

[2018-03-26 16:51] mherrmann commented on #43
@kalons7 I wrote it because I wasn't aware of it and want to remember ;-)

@vovcacik here's the current state: I was able to email 40 of the 47 people that :+1: or :heart:'d the issue. 25 replied. As you know, I specifically asked "which context menu entries do you need". The most commonly requested commands were very basic: Copy/Cut/Paste, Open (with...), Extract/Compress, Properties. Many of the

[2018-03-26 19:54] joshas opened #346 "Column 'Modified' raised error"
Here's a strange one. Got it while messing with Windows 10 network drives. fman version 0.9.8
![error](https://user-images.githubusercontent.com/79141/37929376-81730ba6-3148-11e8-93de-bc2be1f312e1.png)

[2018-03-27 09:32] abuzze opened #347 "Crash on open"
I started fman on MacOS 10.12.6. and it crashed with no visible error message and this error in the logs.

[code]

I started the app via terminal and saw this error
[code]

I recreated the directory ('/Users/username/Library/Application Support/fman/) to fix this. But it think it's better to inform the user somehow, why the app won't start, or just create the directory and move on.

[2018-03-28 05:07] mherrmann commented on #347
That's strange. Because fman does create the directory. In fact, that's precisely where the error occurred: `makedirs` in the error log was fman's attempt to create the directory (and missing parent directories), which failed. :thinking:

[2018-03-29 07:35] mherrmann commented on #341
[fman 0.9.9](https://fman.io/changelog#v0.9.9) is out. Can you [update](https://fman.io/docs/automatic-updates) and let me know whether it works for you?

[2018-03-29 07:35] #341 closed, assigned to nobody

[2018-03-29 07:36] mherrmann commented on #343
I just released [fman 0.9.9](https://fman.io/changelog#v0.9.9) that should fix the issue. If it still doesn't work with your Zip file @joshas, please let me know.

[2018-03-29 07:36] #343 closed, assigned to nobody

[2018-03-29 08:34] jordanholcombe commented on #276
still cant open my downloads folder without fman hanging. on windows 10 64 bit machine with fast samsung ssd and i7. normal win10 explorer opens and scrolls through this folder just fine. i'm a developer and after trying a dozens or so file managers over the years, i have to say fman is the clear winner. but this perf problem on large folders has to be fixed. is there something i can do to help?

[2018-03-29 08:35] mherrmann commented on #276
Wait 1-2 weeks. I'm working on fman 1.0.0 that should have 10x better performance ;-)

[2018-03-29 08:37] jordanholcombe commented on #276
alright i'll survive until then. awesome. thank you :)

[2018-03-29 08:37] mherrmann commented on #276
:-)

[2018-03-29 13:44] raguay opened #348 "[bug] Moving a file/dir into another directory with a file/dir the same name gives missleading error"
Moving a file/dir into another directory with a file/dir the same name gives a miss-leading error. It says you can not move the file onto itself, but it is a different file, different sizes, and different locations. They just happen to have the same name. Copy doesn't seem to cause the same issue because I do it all the time. Just the moving a file does.

[2018-03-30 16:15] joshas commented on #343
Glad to report, that zip contents are displayed correctly in fman 0.9.9

[2018-03-30 16:16] mherrmann commented on #343
Great! Thank you for letting me know :-)

[2018-03-31 11:13] ZuBB opened #349 "[bug] source and destination on install screen should be swiped"
See screen

Most of apps I have installed in Macos have a source (what to install) on the left side and destination (where to install) on the right.

For fman due to some reason it is swiped..

<img width="598" alt="screen shot 2018-03-31 at 14 10 27" src="https://user-images.githubusercontent.com/597016/38162650-b0072d00-34ed-11e8-9e05-e2d699049151.png">

[2018-04-01 06:03] mherrmann commented on #349
Thank you for the suggestion! I'll implement this in the next release.

[2018-04-02 18:33] nimafazeli opened #350 "Plugin DropboxConnect failed to load"
On a first install after trying to copy a file from my dropbox, I got a `no such file exists`.

I thought it needs the dropbox plugin so I went ahead and installed it. On reload I got this

[code]
I am on a windows 10 machine

[2018-04-02 18:37] nimafazeli opened #351 "Could not copy ... (no such file or directory)."
On a first attempt after installation it failed to copy a file.
I opened the command palette, chose copy and then enter. The confirmatin message showed up and after enter I get the error.
I am on a windows 10 machine.

[2018-04-02 18:51] nimafazeli commented on #351
The file I tried to copy in the first post above was located in the user directory. I found out that windows defender stops apps who attempt to change this folder. I just added **fman** as an exception but nothing changed and I still get the same error.

[2018-04-03 09:21] mherrmann commented on #350
Hi! The DropboxConnect plugin is not maintained by me (fman's author) but by @raguay. In fact, the error you reported is already reported on [DropboxConnect's issue tracker](https://github.com/raguay/DropboxConnect/issues/4). I'd kindly ask you to please continue the discussion there.

[2018-04-03 09:21] #350 closed, assigned to nobody

[2018-04-03 09:23] mherrmann commented on #351
Sorry for the trouble. So this problem only appears when you try to copy a file into `C:\Users\YourUserName`? Or does it also occur for other source / destination folders?

[2018-04-05 17:44] karstengresch commented on #236
Uhm. This took a while... :|

So I did as suggested (i.e. create the Hello_World dir, the 'Key Bindings.json' w/in as well as the hello_world subfolder and the __init__.py script.

Then I reloaded the plugins and pressed F3.

The output was...

[code]

... and the obvious reason was you wanted to check if I'm really into it and fix your test code ;-)

So I changed the message's %d placeholder var

[2018-04-05 18:20] kek91 commented on #236
Maybe I'm missing something but the script is seemingly connecting through HTTP so I can't fathom how your ssh key could have any effect. What do you see when you simply open https://api.github.com in your browser?

[2018-04-06 08:48] MartyBeGood opened #352 "Limited functionality since 0.9.9"
This is a weird one.

On one of my Win10 machines, fman's functionality is pretty limited since the update to 0.9.9.
- It won't open non-exe files by pressing enter. However, editing files with the configured editor (via pressing F4) works fine
- It won't open the native explorer via any of the methods (F10 or Ctrl+Shift+P -> open native file manager)
- It won't open the default or a configured te

[2018-04-06 08:56] mherrmann commented on #352
Hi Markus,

sorry for the trouble. I browsed through fman's source changes betwen 0.9.8 and 0.9.9 and found nothing that could explain this. Does it also happen when you start fman as admin?

M

[2018-04-06 09:05] MartyBeGood commented on #352
No worries :) Thanks for reacting so quickly!

Unfortunately, launching fman as admin doesn't help.

TBH, I noticed this behaviour on 0.9.9, but maybe this problem has been there a bit longer because I haven't used that particular machine in a while.

Is there any way I can provide you with additional data so you can get a better look into what's going on?

[2018-04-06 11:49] karstengresch commented on #236
@kek91 - thanks for your answer.

I get the following reply:

[code]

And yes, in general I agree that the ssh key should not have any effect. Blind shot into the darkness.

Furthermore I tried https://api.github.com/search/repositories?q=topic:fman+topic:plugin&per_page=100&page=1 just from w/in the browser, too, and it gave me the desired JSON back:

[code]

So I modified the fman plugin test co

[2018-04-06 12:57] kek91 commented on #236
Could you make a standalone python script and run the script directly from your terminal? So we can test it outside fman environment

[code]
Save that to a debug.py or something and run it

Edit: Oh sorry I see now that you are already running the script from your terminal and not inside fman. Really strange... I've no idea what could be the culprit

[2018-04-06 12:59] mherrmann commented on #236
:smiley: apparently ;) Sorry for any confusion that may have caused.

@kek91's ideas are very good. In particular, I would particularly be interested in the value of `response.text`. I'm hoping it will give a more meaningful error message.

[2018-04-06 15:49] karstengresch commented on #236
Ok, changed the code to (just for documentation):

[code]

Not sure why you want the response body for the _successful_ requests.

Anyway, here's the output:

[code]

;)
Are you testing on macOS? If so, I assume, you can't reproduce this behavior?

B.t.w. - https://github.com/probot/probot/issues/174 says:

But this wouldn't make sense here as just the plain (first) API call fails, too, right?

I

[2018-04-09 12:02] kek91 commented on #236
Hey, yeah hehe that was a silly mistake.
I wanted you to print both `response.headers` and `response.text` for `http://api.github.com`, the other URLs doesn't matter.

I'm testing from a Windows computer.

Yeah might as well try regenerating a new private key. Stranger things have happened I suppose :P

[2018-04-09 13:58] oskretc opened #353 "Filter and Change address"
Hi,

Just started with fman, let me first say that I really like it.

There are a couple of things that will love to have.

1. Filter: Assume that you are in a folder with lots of folders and files and you dont remember the whole file/folder name, you start typying and a regex will filter out to your search.
2. When Ctrl+P The default text should be the current panel address, that way you can chan

[2018-04-09 14:04] mherrmann commented on #353
Hi,

thank you for the feedback and the kind words. I'm happy to hear you like it!

1. is #41. You can leave a :+1: there to affect its priority.
2. I can see why you prefer it that way but am worried about the following: When you open GoTo, the current implementation shows the most visited directories. With your suggestion, it would show the folders in the current directory instead. My suspicion

[2018-04-09 14:06] oskretc commented on #73
+1

[2018-04-09 14:08] oskretc commented on #56
+1

[2018-04-09 14:08] oskretc commented on #40
+1

[2018-04-09 14:10] mherrmann commented on #40
@oskretc please click on the :+1: at the top of the issue description instead of writing "+1" and liking that comment :)

[2018-04-09 14:21] oskretc commented on #353
Just +1 on #41

The 1 solution for 2 works like a charm. Is there any key binding instead of a mouse click. Alt+D is very commonly used in other "explorers"

[2018-04-09 14:22] oskretc commented on #41
+1

[2018-04-09 18:26] oskretc opened #354 "Display Overlay Icons"
For some apps, its crucial to display overlay icons e.g. TortoiseSVN

[2018-04-11 06:13] mherrmann commented on #353
I'm sorry there's no keyboard shortcut for #1. You'd have to write a plugin for that. If you want me to help you do this, let me know!

[2018-04-11 11:06] oskretc commented on #66
Maybe a different topic but a bit related

Is it possible to interact with some of the API modules directly from a python script?. This way you could debug some parts of your code as standalone scripts and the later integrate them as plugins

[2018-04-11 11:58] piotr-dobrogost commented on #65
Any news? Any help needed?

[2018-04-11 12:04] mherrmann commented on #65
No news, I'm afraid. There are simply many other [more-requested features](http://fman.io/issues) at the moment.

[2018-04-11 12:06] mherrmann commented on #66
Interesting suggestion @oskretc. Do you have a particular script in mind?

[2018-04-11 12:22] oskretc commented on #66
Something very basic, but it took me quite a while to figure it out

[code]

[2018-04-11 13:58] oskretc opened #355 "Flat View aka Branch View"
I'll very much like to see something like this implemented natively.

I have tried myself developing a plugin using the FileSystem to list all the files in a particular directory and all its subdirectories.

https://github.com/oskretc/fman-flatview

I got stuck on a few issues.

* Feels a bit slow, maybe I'm not using the best method to traverse all the files.
* I got entangled with url, schemas a

[2018-04-11 14:16] mherrmann commented on #355
It works for me: :)

![image](https://user-images.githubusercontent.com/1076393/38622279-1c767c6c-3da3-11e8-9f3e-0f90c6978fd5.png)

I just had to add a missing import to the top of [`__init__.py`](https://github.com/oskretc/fman-flatview/blob/master/flat_view/__init__.py):

    from fman.fs import is_dir

Congrats on your first plugin!

I didn't try this on Windows. The fact that it's slow could p

[2018-04-11 14:18] raguay commented on #355
He's not implemented the caching either. That would help the speeds since it would reduce the number of calls to the file system.

[2018-04-11 16:40] joshas opened #356 "Empty zip in macOS"
When I try opening this zip with fonts ( https://www.fontsquirrel.com/fonts/neris , click on "Download OTF" ) on macOS I only get empty pane.
Finder extracts its contents correctly, zipinfo shows correct file structure. Same archive works with same version on fman in Linux. Probably some issue specific to macOS?

[2018-04-11 17:35] oskretc commented on #355
That is correct, forgot the import: Fixed

This is what I see

![image](https://user-images.githubusercontent.com/4963991/38633196-3429070a-3dbf-11e8-8c58-d88053279614.png)

I'll look into the caching system.

Also, currently has no functionality. I'll add some more features before releasing to the plugin repo

I'll be waiting for the coming releases.

[2018-04-12 07:23] mherrmann commented on #355
I see - so the problem is the duplication of `C:/tmp/one` in `C:/tmp/one/C:/tmp/one`. That is because `iterdir(...)` which you implement is expected to return file _names_ not paths. For example - not for your file system but for the standard one - `iterdir('C:/tmp/one')` should return `file1.txt` not `C:/tmp/one/file1.txt`. That is because fman makes certain assumptions about the "structure" of c

[2018-04-13 06:06] zelk opened #357 "Severe rename bug deletes folders"
Create a folder called "a". Rename it to "A". Notice how the folder and all its contents is deleted from the disk without warning. Only tested on Mac.

I just wiped an entire folder with lot's of data in it. I wanted to rename a folder called "agreements" to "Agreements". Luckily, I will be able to reproduce the information but others might not be so lucky.

[2018-04-13 06:08] mherrmann commented on #357
Sheesh I'm sorry. I will look at this straight away.

[2018-04-13 06:15] raguay commented on #357
I've tried several variations and I can't reproduce it. Does it happen all
the time? I'm on a mac as well with the latest OS and fman 0.9.9.

Also, the information should of been placed into the Trash unless you have
finder turned off and my Flexible trash installed. Then it will be deleted
permanently.

Richard

On Fri, Apr 13, 2018 at 1:08 PM, Michael Herrmann <notifications@github.com>
wrote:

[2018-04-13 06:47] mherrmann commented on #357
I also cannot reproduce this. I create a folder "a" with a file "file.txt" in it. I then used <kbd>Shift+F6</kbd> to rename the folder to "A". The folder was renamed and the file then existed at "A/file.txt", as expected. Any further light you could shed on this would be highly appreciated @zelk.

[2018-04-13 10:46] MikiGrit opened #358 "When creating new folder, prefill it's name dialog with currently selected folder."
As described in the title. Same behaviour as in Total Commander.

[2018-04-13 11:46] mherrmann commented on #358
Thank you for the good suggestion. I implemented this now. Will go live with the next release. I will post here again once it's available.

[2018-04-13 11:57] MikiGrit commented on #358
Great, thanks for such a fast response. I thought this shouldn't be very difficult :).

[2018-04-13 11:59] mherrmann commented on #358
Yup, it isn't. Always happy to increase the usefulness of fman :)

[2018-04-13 17:06] zelk commented on #357
I can try again tomorrow. I used F6, not Shift-F6.

[2018-04-14 04:08] raguay commented on #357
F6 should of moved the folder to the directory in the other panel. Check the directory the other panel was in and your files should be there.

[2018-04-14 09:06] devmount commented on #45
@mherrmann  Is there any documentation about all existing CSS classes? The `Theme.css` only contains a few like `.statusbar` or `.quicksearch-*`. What is e.g. the CSS class of the left and right pane?

[2018-04-14 10:22] oskretc opened #359 "Ctrl+Scroll to zoom in/out (increase/decrease font size)"
Maybe can be implemented as a plugin, in that case, I'll leave it here in case someone wants to pick it up.

[2018-04-15 19:27] zelk commented on #357
Yes, I know what F6 is supposed to do but I tend to use it also to rename things in the same folder (as I was not aware of Shift+F6). So, please try to reproduce the bug by renaming a folder using F6 instead of Shift+F6 and see if you can reproduce it. On my computer, there's a 100 % repro rate.

[2018-04-15 19:28] zelk commented on #357
So, to be clear, position the cursor on a folder called "a", hit F6, remove everything in the textbox and only write "A". Notice that fman deletes the folder.

[2018-04-16 09:09] mherrmann commented on #357
You are right. I'm so sorry for this. I just fixed it. Will go live with upcoming fman 1.0.

[2018-04-16 13:26] mherrmann commented on #45
@devmount until the feature described by this issue is implemented, the ones in `Theme.css` are the only ones that are officially supported. (Sorry.) But you can look at `styles.qss` to find other internal ones that currently work as well. Do note however that because they are not officially supported, they may break in the future. (Sorry for this too.)

[2018-04-17 10:47] zelk commented on #357
Great work! :)

[2018-04-17 11:02] zelk commented on #276
On my computer, it takes 2 seconds to open my ~/Downloads folder. There are only 490 files in my Downloads folder. Looking forward to 1.0.0. :)

[2018-04-18 13:26] devmount commented on #45
@mherrmann Ok, I thought there would be an easier way to customize the styles than guessing the css selectors from the `styles.qss` file...
Any clue when custom themes will be officially supported?

[2018-04-18 13:38] mherrmann commented on #45
@devmount I'm currently working on fman 1.0 with ~10x better performance. Then, the issues I think are most important are context menu support (#43, most-requested feature by far) and progress feedback for file operations (#46). Given that improved theme support is the next most-requested feature, I will likely tackle it soon after.

[2018-04-18 13:40] devmount commented on #45
@mherrmann Good to know. Thanks for your time! fman is awesome! Keep up the good work!

[2018-04-18 18:10] matangover opened #360 "Allow switching from command palette to "go to directory""
Many times I press Cmd+Shift+P when I actually meant to press Cmd+P. I start typing the query but when I realize it's the wrong window it's too late - I have to press Esc, Cmd+P, and retype the query.

It would be useful if one of the "palettes" is open, pressing the other palette's shortcut will simply launch it (possibly with the same query already typed in), as opposed to doing nothing as it is

[2018-04-18 18:12] matangover opened #361 "Visual differentiation between command palette and "go to directory""
Right now it's visually hard to distinguish between the command palette and the "go to directory" palette. The only difference is in the results. Since the keyboard shortcuts are similar, this adds to the confusion. It would be nice if there was some sort of minor visual differentiation between the two - e.g., an icon, or a different color.

[2018-04-19 06:26] mherrmann commented on #45
@devmount thanks, will do :-)

[2018-04-19 06:27] mherrmann commented on #360
Interesting suggestion, thanks! Sublime Text supports this as well.

[2018-04-19 07:44] mherrmann commented on #348
Sorry, how do you mean? I created the following directory structure:

 * `src/`
   * `b/`
     * `file.txt`
 * `dst/`
   * `b/`

I then opened `src` in one pane and `dst` in the other. Then, I used <kbd>F6</kbd> to move `b` from `src` to `dst`. I did not get an error. As I had expected, what happened was that `src/b` disappeared and `file.txt` ended up at `dst/b/file.txt`.

[2018-04-19 09:53] raguay commented on #348
Yea, I wrote that very poorly and now I can't seem to recreate it. I've gone back over the steps and it seems okay. I was moving programs in and out of /Applications trying to fix the programs registration with the OS (moving out of /Applications using fman and moving them back using Finder to get the doorkeeper from saying they are in a read-only file space. What a pain!).

The programs moving cr

[2018-04-19 09:53] #348 closed, assigned to nobody

[2018-04-19 10:01] mherrmann commented on #357
Fix released as part of [fman 1.0.0](https://fman.io/changelog#v1.0.0) :)

[2018-04-19 10:01] #357 closed, assigned to nobody

[2018-04-19 10:02] mherrmann commented on #358
Released as part of [fman 1.0.0](https://fman.io/blog/fman-10-ten-times-faster/) :)

[2018-04-19 10:02] #358 closed, assigned to nobody

[2018-04-19 10:02] mherrmann commented on #349
Implemented in [fman 1.0.0](https://fman.io/blog/fman-10-ten-times-faster/) :)

[2018-04-19 10:02] #349 closed, assigned to nobody

[2018-04-19 10:04] mherrmann commented on #276
I'm happy to announce that [fman 1.0.0 is out](https://fman.io/blog/fman-10-ten-times-faster/). It's 10x faster than version 0.9.8. Still not as fast as it should be. But a lot better. I would kindly ask everyone who has had trouble with performance to [update](https://fman.io/docs/automatic-updates) and try now.

I will close this issue now, but open a new one to further improve performance.

[2018-04-19 10:04] #276 closed, assigned to nobody

[2018-04-19 10:07] mherrmann opened #362 "Improve performance for tens of thousands of files"
In #276, fman 1.0.0 was made ten times faster to make it possible to work with folders containing a few thousand files. That improvement is a start, but fman needs to become faster still. The goal of this issue is to make it so it's possible to work with folders containing tens of thousands of files without significant performance issues.

[2018-04-19 10:15] raguay commented on #362
It is working great for me. Thanks.

The only bad issue I'm having is external programs adding/changing files in the directory that fman currently has open lags quite a bit. It is especially noticeable if there are a large number of files in the same directory.

Should this be a different issue? Or is it similar enough to add to here?

[2018-04-19 11:04] mherrmann opened #363 "Column 'Name' raised error"
fman 1.0.0 is less resilient with respect to errors produced by columns. This is a bug and should be fixed.

![image](https://user-images.githubusercontent.com/1076393/38988078-2e60d3b6-43d2-11e8-8796-a8b0ba27bdba.png)